@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    ModelSource<InvoiceItem> models;
    UserProfile _profile;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _profile = Context.GetUser();
    models.DataSourcePath = VirtualPathUtility.ToAbsolute("~/OrganizationQuery/GridPage");
    IQueryable<Organization> _model = (IQueryable<Organization>)this.Model;
    OrganizationQueryViewModel _viewModel = ViewBag.ViewModel as OrganizationQueryViewModel;
}
@if (!models.InquiryHasError)
{
    <div id="dataTitle" class="my-2 d-flex justify-content-between align-items-center">
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
        }
        <button type="button" class="my-1 px-3 btn btn-sm eivo__btn--check text-nowrap" onclick="createCompany();">
            <i class="far fa-plus"></i>
            新增開立人 ( 營業人 )
        </button>
    </div>

    var recordCount = _viewModel.RecordCount;
    @if (recordCount > 0)
    {
        if (_viewModel.CategoryID == CategoryDefinition.CategoryEnum.發票開立營業人
        || _viewModel.CategoryID == CategoryDefinition.CategoryEnum.境外電商
        || _viewModel.CategoryID == CategoryDefinition.CategoryEnum.經銷商)
        {
            await Html.RenderPartialAsync("~/Views/OrganizationQuery/Module/SellerList.cshtml", _model);
        }
        else
        {
            await Html.RenderPartialAsync("~/Views/OrganizationQuery/Module/CompanyList.cshtml", _model);
        }
        await Html.RenderPartialAsync("~/Views/Common/Module/QueryPagingControl.cshtml", _model);
    }
    else
    {
        <div id="dataList" class="card shadow-sm border-2 rounded-3">
            <div id="tableList" class="card-body">
                <div class="py-3 fs-6 fw-bold text-danger text-center">
                    <i class="fas fa-exclamation-circle"></i>
                    目前尚無資料！
                </div>
            </div>
        </div>
    }
}
