@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    IQueryable<Organization> _model = (IQueryable<Organization>)this.Model;

}


<div id="dataList" class="card shadow-sm border-2 rounded-3">
    <div id="tableList" class="card-body">
        <div class="table-responsive" style="min-height: 500px;overflow-y: scroll;">
            <table id="companyList" class="table table-striped itemList eivo__table">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">
                            <a href="javascript:void(0);" onclick="$inquiryAgent.sort('CompanyName',this);">營業人名稱</a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a href="javascript:void(0);" onclick="$inquiryAgent.sort('ReceiptNo',this);">統一編號</a>
                        </th>
                        <th scope="col" class="text-nowrap">負責人姓名</th>
                        <th scope="col" class="text-nowrap">電子郵件</th>
                        <th scope="col" class="text-nowrap">營業人狀態</th>
                        <th scope="col" class="text-nowrap" style="width: 150px;" aria-sort="other">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        await Html.RenderPartialAsync("~/Views/OrganizationQuery/Module/CompanyItemList.cshtml");
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $inquiryAgent.doPage = function (data) {
        $('#companyList tbody')
            .empty()
            .append(data);
    };
</script>
