@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    IQueryable<Organization> _model = (IQueryable<Organization>)this.Model;

}

<div id="dataList" class="card shadow-sm border-2 rounded-3">
    <div id="tableList" class="card-body">
        <div class="table-responsive" style="min-height: 500px;overflow-y: scroll;">
            <table id="companyList" class="table table-striped itemList eivo__table">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">
                            <input name="chkAll" type="checkbox"
                                onclick="var $this = $(this); $this.closest('table').find('input[name=\'chkItem\']').prop('checked', $this.is(':checked'));" />
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a href="javascript:void(0);" onclick="$inquiryAgent.sort('CompanyName',this);">營業人名稱</a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a href="javascript:void(0);" onclick="$inquiryAgent.sort('ReceiptNo',this);">統一編號</a>
                        </th>
                        <th scope="col" class="text-nowrap">上線日期</th>
                        <th scope="col" class="text-nowrap">註記停用日期</th>
                        <th scope="col" class="text-nowrap">營業人狀態</th>
                        <th scope="col" class="text-nowrap" style="width: 150px;">管理</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        await Html.RenderPartialAsync("~/Views/OrganizationQuery/Module/SellerItemList.cshtml");
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="col-md-4">
                                @{
                                    await Html.RenderPartialAsync("~/Views/Home/Module/CompanyQuickSearch.cshtml");
                                }
                            </div>

                            <div class="dropdown">
                                <button class="px-3 btn btn-sm eivo__btn--default dropdown-toggle" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    功能
                                </button>
                                <ul class="dropdown-menu shadow dropdown-menu-end"
                                    aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <a class="btn" onclick="cloneBilling(this);">
                                            <i class="fas fa-caret-right"></i>
                                            複製收費標準
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn" onclick="applyHeadquarter(this);">
                                            <i class="fas fa-caret-right"></i>
                                            設為分支機構
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    $inquiryAgent.doPage = function (data) {
        $('#companyList tbody')
            .empty()
            .append(data);
    };
</script>
