@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using WebHome.Controllers
@{

    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    OrganizationViewModel _viewModel;
    Organization _model;

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (OrganizationViewModel)ViewBag.ViewModel;
    _model = (Organization)this.Model;
}

@* @{ await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "編輯營業人資料");} *@

<form id="editItem" method="post" enctype="multipart/form-data">
    @{
        await Html.RenderPartialAsync("~/Views/Organization/Module/ItemForm.cshtml", _model);
    }

    <div class="mt-4 modal-footer">
        <input name="Reset" type="reset" class="mx-1 px-3 btn btn-sm eivo__btn--reset" value="重填" />
        <button type="button" class="mx-1 px-3 btn btn-sm eivo__btn--default"
            onclick="$global.commitOrganization();">儲存</button>
    </div>
</form>
<script>
    $(function () {
        $global.commitOrganization = function () {
            $form = $('#editItem');
            var $formData = $form.serializeObject();
            $formData.CustomNotification = $('<div>').text($formData.CustomNotification).html();
            showLoading();
            $.post('@Html.Raw(Url.Action("CommitItem", "Organization", new { _viewModel.KeyID }))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.result) {
                        if (confirm('資料已儲存，是否關閉？')) {
                            $global.removeTab('editOrganization');
                        }
                    } else {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });
        };
    });
</script>
