@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{

    ModelSource<InvoiceItem> models;
    UserProfile _profile;


    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;

    _profile = Context.GetUser();
}

<div id="tblAction" class="my-2">
    @if (_profile.CurrentUserRole.OrganizationCategory.Organization.ReceiptNo != "0000000000")
    {
        <button type="button" name="paperStyle" class="px-3 my-1 me-1 btn btn-sm eivo__btn--print text-nowrap"
            onclick="uiInvoiceQuery.print('A4');">
            <i class="far fa-print"></i>
            A4 格式列印
        </button>
        @*(列印兌獎訊息：<input name="printBack" type="radio" value="true" />是
                    <input name="printBack" type="radio" value="false" />否)*@
    }
    else
    {
        <button type="button" name="btnPrint" class="px-3 my-1 me-1 btn btn-sm eivo__btn--print text-nowrap"
            onclick="uiInvoiceQuery.print('POS');">
            <i class="far fa-print"></i>
            熱感紙規格列印
        </button>
        @*(列印買受人地址：<input name="printBuyerAddr" type="radio" value="true" />是
                    <input name="printBuyerAddr" type="radio" value="false" />否)*@
    }
    <button type="button" id="btnPrint" name="btnPrint" class="px-3 my-1 me-1 btn btn-sm eivo__btn--default"
        onclick="uiInvoiceQuery.download2021();">
        <i class="fas fa-download"></i>
        Excel 下載
    </button>
</div>
