@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    InquireInvoiceViewModel _viewModel;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}

<div id="tblAction">
    <button type="button" name="btnPrint" class="px-3 btn btn-sm eivo__btn--default"
        onclick="uiInvoiceQuery.commitAction();">
        執行@(_viewModel.ActionTitle)
    </button>
</div>