
@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    InquireInvoiceViewModel _viewModel;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}

<table id="tblAction" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <button type="button" class="btn" name="btnDoCancel" onclick="uiInvoiceQuery.commitAction();">執行@(_viewModel.ActionTitle)</button>
        </td>
    </tr>
</table>



