@using System.IO
@using System.Linq.Expressions


@using ModelCore.DataEntity
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

<div id="tblAction" vlass="my-3">
    <button type="button" name="btnAuthorize" class="px-3 my-1 me-1 btn btn-sm eivo__btn--print text-nowrap"
        onclick="uiInvoiceQuery.authorize();">
        <i class="far fa-print"></i>
        核准列印
    </button>
</div>


<script>
    window.uiInvoiceQuery.authorize = function () {
        if (!$('input[name="chkItem"]').is(':checked')) {
            alert('請選擇核准重印資料!!');
            return false;
        }

        var $formData = $('#queryArea').find('input,select,textarea').serializeObject();
        $formData = {
            ...$formData,
            ...$('#queryResult').find('input,select,textarea').serializeObject(),
        };

        doPost('@(Url.Action("AuthorizeToPrint", "InvoiceProcess"))', $formData, function (data) {
            var $data = $(data);
            $('body').append($data);
            $data.remove();
        });

    };


</script>
