@using System.IO
@using System.Linq.Expressions


@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using WebHome.Helper
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel

@using ModelCore.Helper
@{

    UserProfile _profile;

    _profile = Context.GetUser();
}

@{
    await Html.RenderPartialAsync("~/Views/InvoiceProcess/ResultAction/PrintAction.cshtml");
}

<button type="button" id="btnPrint" name="btnPrint" class="px-3 btn btn-sm eivo__btn--default"
    onclick="uiInvoiceQuery.download2021();">
    <i class="fas fa-download"></i>
    Excel下載
</button>
@if (_profile.IsSystemAdmin())
{
    <button type="button" id="btnBuyer" name="btnBuyer" class="px-3 btn btn-sm eivo__btn--default"
        onclick="uiInvoiceQuery.saveBuyer();">
        <i class="fas fa-download"></i>
        下載買受人資料
    </button>
}
@if (_profile.IsSystemAdmin() || _profile.CurrentUserRole.OrganizationCategory.Organization.ReceiptNo == "43460094")
{
    <button type="button" id="btnPrint" name="btnPrint" class="px-3 btn btn-sm eivo__btn--default"
        onclick="uiInvoiceQuery.downloadERP();">
        <i class="fas fa-download"></i>
        ERP下載
    </button>
    <script>
        uiInvoiceQuery.downloadERP = function () {

            var $formData = $('#queryArea').find('input,select,textarea').serializeObject();
            $formData = $.extend($formData, $('input[name="chkItem"]').serializeObject());
            showLoading();
            $.post('@(Url.Action("CreateCustomERPResult", "InvoiceProcess"))', $formData, function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    if (data.message != undefined) {
                        alert(data.message);
                    }
                } else {
                    $(data).appendTo($('body'));
                }
            });

        }
    </script>
}
