@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers

@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@{

    ModelSource<InvoiceItem> models;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;

    InquireInvoiceViewModel? _viewModel = ViewBag.ViewModel as InquireInvoiceViewModel;
}
<tr>
    <th>
        附件檔
    </th>
    <td class="tdleft">
        <select name="attachment">
            <option value="">全部</option>
            <option value="1">有</option>
            <option value="0">無</option>
        </select>
    </td>
</tr>
<script>
    $(function () {
        $('select[name="attachment"]').val('@(_viewModel?.Attachment)');
    });
</script>
