@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<tr>
    <th>
        單據狀態
    </th>
    <td class="tdleft">
        <select name="Cancelled" class="form-control">
            <option value="False">未作廢</option>
            <option value="True">已作廢</option>
            <option value="">全部</option>
        </select>
        @if (_viewModel.Cancelled.HasValue)
        {
        <script>
            $(function () {
                $('select[name="Cancelled"]').val('@(_viewModel.Cancelled)');
            });
        </script>
        }
    </td>
</tr>
