@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<div class="py-2 col">
    <div class="row">
        <label for="Cancelled" class="col-md-4 col-form-label fw-bold text-nowrap">
            單據狀態
        </label>
        <div class="col">
            <select id="Cancelled" name="Cancelled" class="form-select form-select-sm">
                <option value="False">未作廢</option>
                <option value="True">已作廢</option>
                <option value="">全部</option>
            </select>
        </div>
    </div>
</div>

@if (_viewModel.Cancelled.HasValue)
{
    <script>
        $(function () {
            $('select[name="Cancelled"]').val('@(_viewModel.Cancelled)');
        });
    </script>
}
