@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<div class="py-2 col">
    <div class="row">
        <label for="AuthorizationRange" class="col-md-4 col-form-label fw-bold text-nowrap">
            日期區間
        </label>
        <div class="col d-flex align-items-center">
            <input id="DateFrom" name="DateFrom" type="text" placeholder="請輸入起日"
                class="form_date form-control form-control-sm" readonly="readonly"
                value="@($"{_viewModel?.DateFrom:yyyy/MM/dd}")" />
            <div class="mx-2">~</div>
            <input id="DateTo" name="DateTo" type="text" placeholder="請輸入迄日"
                class="form_date form-control form-control-sm" readonly="readonly"
                value='@($"{_viewModel?.DateTo:yyyy/MM/dd}")' />
        </div>
        <div class="text-danger d-flex justify-content-end text-nowrap pt-1">
            <span id="dateAlert" class="text-danger pe-2 d-none pe-1">
                <span class="mdi mdi-close-thick"></span>
                結束日期須晚於開始日期
            </span>
        </div>
    </div>
</div>
<script>
    // 日期選擇器
    const dateAlert = document.querySelector("#dateAlert");
    flatpickr('#DateFrom, #DateTo', config);
</script>
