@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<div class="py-2 col">
    <div class="row">
        <label for="InvoiceNo" class="col-md-4 col-form-label fw-bold text-nowrap">
            發票號碼
        </label>
        <div class="col d-flex align-items-center">
            <input itemid="InvoiceNo" name="InvoiceNo" type="text" class="form-control form-control-sm"
                value="@(_viewModel?.InvoiceNo)" size="12" maxlength="12" />
            <div class="mx-2">~</div>
            <input name="EndNo" type="text" class="form-control form-control-sm" value="@(_viewModel?.EndNo)" size="12"
                maxlength="12" />
        </div>
    </div>
</div>
<div class="py-2 col">
    <div class="row">
        <label for="DataNo" class="col-md-4 col-form-label fw-bold text-nowrap">
            單據號碼
        </label>
        <div class="col">
            <input id="DataNo" name="DataNo" type="text" class="form-control" value="@(_viewModel?.DataNo)" size="32"
                maxlength="64" />
        </div>
    </div>
</div>