@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<div class="py-2 col">
    <div class="row">
        <label for="PrintMark" class="col-md-4 col-form-label fw-bold text-nowrap">
            列印註記
        </label>
        <div class="col">
            <select id="PrintMark" name="PrintMark" class="form-select form-select-sm">
                <option value="">全部</option>
                <option value="Y">Y</option>
                <option value="N">N</option>
            </select>
        </div>
    </div>
</div>