@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
<div class="py-2 col">
    <div class="row">
        <label for="Printed" class="col-md-4 col-form-label fw-bold text-nowrap">
            列印狀態
        </label>
        <div class="col d-flex align-items-center">
            <select id="Printed" name="Printed" class="me-2 form-select form-select-sm">
                <option value="">全部</option>
                <option value="False">未列印</option>
                <option value="True">已列印</option>
            </select>
            <div class="form-check form-check-inline">
                <input type="checkbox" id="HasAddr" name="HasAddr" class="form-check-input" value="True" />
                <label class="form-check-label text-nowrap" for="HasAddr">
                    有買受人地址
                </label>
            </div>
        </div>
    </div>
</div>
