@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    IQueryable<Organization> _model = (IQueryable<Organization>)this.Model;
    SellerSelectorViewModel _viewModel = (SellerSelectorViewModel)ViewBag.ViewModel;
}
<tr>
    <th>@(ViewBag.Title ?? "開立人統編")</th>
    <td class="tdleft">
        @{ 
            ViewBag.SelectorIndication = "全部";
            await Html.RenderPartialAsync("~/Views/DataFlow/SellerSelector.cshtml", _model);
        }
    </td>
</tr>

