@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{

    ModelSource<InvoiceItem> models;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
}

<div class="col">
    <div class="row">
        <label for="year" class="col col-md-4 col-lg-6 col-xl-7 col-xxl-7 col-form-label fw-bold text-nowrap">
            <span class="text-danger">*</span> 發票年度（民國年）
        </label>
        <div class="col">
            <select class="form-select form-select-sm" id="year" name="year">
                @for (int yy = 2012; yy <= DateTime.Now.Year + 1; yy++)
                {
                    <option value="@(yy)">@(yy - 1911)</option>
                }
            </select>
            <script>
                $(function () {
                    $('#year').val(@(DateTime.Now.Year));
                });
            </script>
        </div>
    </div>
</div>
<div class="col">
    <div class="row">
        <label for="PeriodNo" class="col col-md-4 col-form-label fw-bold text-nowrap">
            期別
        </label>
        <div class="col">
            <select id="PeriodNo" name="PeriodNo" class="form-select form-select-sm">
                <option value="">全部</option>
                <option value="1">01-02月</option>
                <option value="2">03-04月</option>
                <option value="3">05-06月</option>
                <option value="4">07-08月</option>
                <option value="5">09-10月</option>
                <option value="6">11-12月</option>
            </select>
        </div>
    </div>
</div>
