@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using WebHome.Controllers

@{

    ModelSource<InvoiceItem> models;
    ModelStateDictionary _modelState;

    var profile = Context.GetUser();
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;

    var item = models.GetTable<Organization>().Where(o => o.CompanyID ==
    profile.CurrentUserRole.OrganizationCategory.CompanyID).FirstOrDefault();
}
<!-- 營業人資料管理 -->
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "營業人資料管理");
    }
</div>

<!-- 查詢框 -->
<div id="searchArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <!-- 查詢條件 -->
        @{
            await Html.RenderPartialAsync("~/Views/Organization/Module/BusinessForm.cshtml", item);
        }
    </div>
</div>
<!--表格 開始-->
<div id="resultList"></div>