@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ModelSource<InvoiceItem>
    models;
    IQueryable<InvoiceAllowance>
    _model;
    InquireInvoiceViewModel _viewModel;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

    _model = (IQueryable<InvoiceAllowance>)this.Model;
}
@{
    <div class="mt-2 card shadow-sm border-2 rounded-3">
        <div class="card-body">
            <div class="table-responsive">
                @{
                    await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/AllowanceItemTable.cshtml", _model);
                }
            </div>
        </div>
    </div>
    _viewModel.OnPageCallScript = "uiAllowanceQuery.inquire(page)";
    await Html.RenderPartialAsync("~/Views/Common/Module/QueryPagingControl.cshtml", _model);
}
