
@using System.Linq
@using System.IO
@using System.Linq.Expressions

@using Newtonsoft.Json
@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel

@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    RenderStyleViewModel _viewModel;
    _viewModel = (RenderStyleViewModel)ViewBag.ViewModel;
}
<div>
    <a href="@(Url.Action(_viewModel.ProcessType == Naming.InvoiceProcessType.B0401
            ? "PrintB0401AsPDF"
            : "PrintD0401AsPDF","DataView"))" target="_blank">列印資料下載</a>
    <br />
    <a href="@(Url.Action(_viewModel.ProcessType == Naming.InvoiceProcessType.B0401
            ? "PrintB0401"
            : "PrintD0401","DataView"))" target="_blank">網頁列印</a>
</div>





