@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ModelSource<InvoiceItem> models;
    IQueryable<InvoiceAllowance> _model;
    InquireInvoiceViewModel _viewModel;



    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

    _model = (IQueryable<InvoiceAllowance>)this.Model;
}

<!-- 發票資料查詢／列印／匯出 -->
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
    }
</div>

<div id="queryResult" class="query_result">
    @{
        var recordCount = _model.Count();
        _viewModel.RecordCount = recordCount;
        if (recordCount > 0)
        {
            await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/AllowanceQueryPaging.cshtml", _model);
            await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/ResultAction.cshtml", _model);
        }
        else
        {
            <div class="mt-2 card shadow-sm border-2 rounded-3">
                <div class="card-body">
                    <div class="py-3 fs-6 text-center text-primary">
                        尚無資料！
                    </div>
                </div>
            </div>
        }
    }
</div>
