@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel

@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ModelSource<InvoiceItem> models;
    IQueryable<InvoiceAllowance> _model;
    InquireInvoiceViewModel _viewModel;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;

    _model = (IQueryable<InvoiceAllowance>)this.Model;
    var _profile = Context.GetUser();
}
@if (_viewModel != null)
{
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="Bargain_btn">
                @if (_viewModel.Status == "ReadyToMIG")
                {
                    await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/DoTransferAllowance.cshtml");
                    await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/DoDeleteAllowance.cshtml");
                }
                else
                {
                    if (_viewModel.ProcessType == Naming.InvoiceProcessType.B0401)
                    {
                        <button type="button" name="paperStyleA4" class="px-3 my-1 me-1 btn btn-sm eivo__btn--print text-nowrap"
                            onclick="uiAllowanceQuery.print('A4');">
                            <i class="far fa-print"></i>
                            A4 格式列印
                        </button>
                    }
                    else if (_viewModel.ProcessType == Naming.InvoiceProcessType.D0401)
                    {
                        <button type="button" name="paperStylePOS" class="px-3 my-1 me-1 btn btn-sm eivo__btn--print text-nowrap"
                            onclick="uiAllowanceQuery.print('POS');">
                            <i class="far fa-print"></i>
                            熱感紙規格列印
                        </button>
                    }
                    <button type="button" id="btnPrintExcel" name="btnPrintExcel"
                        class="px-3 my-1 me-1 btn btn-sm eivo__btn--default" onclick="uiAllowanceQuery.download2021();">
                        <i class="fas fa-download"></i>
                        Excel 下載
                    </button>
                    if (_profile.IsSystemAdmin() || _profile.CurrentUserRole.OrganizationCategory.Organization.ReceiptNo ==
                    "43460094")
                    {
                        <button type="button" id="btnPrintERP" name="btnPrintERP"
                            class="px-3 my-1 me-1 btn btn-sm eivo__btn--default" onclick="uiAllowanceQuery.downloadERP();">
                            <i class="fas fa-download"></i>
                            ERP 下載
                        </button>
                        <script>
                            uiAllowanceQuery.downloadERP = function () {

                                var $formData = $('#queryArea').find('input,select,textarea').serializeObject();
                                $formData = $.extend($formData, $('input[name="chkItem"]').serializeObject());
                                showLoading();
                                $.post('@(Url.Action("CreateCustomERPResult", "AllowanceProcess"))', $formData, function (data) {
                                    hideLoading();
                                    if ($.isPlainObject(data)) {
                                        if (data.message != undefined) {
                                            alert(data.message);
                                        }
                                    } else {
                                        $(data).appendTo($('body'));
                                    }
                                });

                            }
                        </script>
                    }

                    <button type="button" name="btnNotify" class="px-3 my-1 me-1 btn btn-sm eivo__btn--default"
                        onclick="uiAllowanceQuery.notify();">
                        重送開立通知
                    </button>

                    await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/DoVoidAllowance.cshtml");
                    await Html.RenderPartialAsync("~/Views/AllowanceProcess/Module/DoDeleteAllowance.cshtml");

                }
            </td>
        </tr>
    </table>
}
