@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ModelSource<InvoiceItem> models;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    ModelCore.Models.ViewModel.QueryViewModel? _viewModel = ViewBag.ViewModel as ModelCore.Models.ViewModel.QueryViewModel;
}
<!--交易畫面標題-->
@{
    await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "電子發票字軌維護");
}
<!-- 查詢框 -->
<div id="searchArea" class="mb-4 card">
    <div class="card-body">
        <div class="row row-cols-3">
            @{
                await Html.RenderPartialAsync("~/Views/TrackCode/DataQuery/TrackCodePeriod.cshtml");
            }
            <div class="col">
                <div class="row">
                    <label for="pageSize" class="col-auto col-form-label">
                        每頁資料筆數
                    </label>
                    <div class="col">
                        <input id="pageSize" name="pageSize" type="text" class="form-control"
                            value="@(_viewModel?.PageSize ?? ModelCore.Properties.AppSettings.Default.PageSize)">
                    </div>
                </div>
            </div>
        </div>
        <!--按鈕-->
        <div class="mt-3 d-block text-end">
            <button type="button" class="mx-1 px-3 btn btn-sm eivo__btn--default" onclick="uiTrackCodeQuery.inquire();">
                查詢
            </button>
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("~/Views/TrackCode/ScriptHelper/Common.cshtml");
}
