@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    ModelSource<InvoiceItem> models;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
}

<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    <div>
        <!--交易畫面標題-->
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "登錄掛號郵件");
        }
    </div>
</div>
<div id="queryArea" class="mb-4 card shadow-md border-2 rounded-3">
    <div class="card-body">
        <!-- 查詢條件 -->
        <div class="row px-2">
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <label for="MailNo3" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        發票號碼
                    </label>
                    <div class="col pt-1 d-flex align-items-center">
                        <input name="StartNo" type="text" placeholder="請輸入發票起號" class="form-control form-control-sm" />
                        <div class="mx-2">~</div>
                        <input name="EndNo" type="text" placeholder="請輸入發票迄號" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row flex-nowrap">
                    <label for="MailNo3" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        排除買受人統編
                    </label>
                    <div class="col">
                        @{
                            await Html.RenderPartialAsync("~/Views/Handling/MailTracking/ExclusiveReceiptNo.cshtml");
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-2">
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-auto pt-1 pe-2 fw-bold text-nowrap">
                        查詢資料《
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="DateInclude" name="DateFilter"
                                value="@((int)global::ModelCore.Models.ViewModel.FilterType.Include)">
                            <label class="form-check-label" for="DateInclude">符合</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="DateExclude" name="DateFilter"
                                value="@((int)global::ModelCore.Models.ViewModel.FilterType.Exclude)">
                            <label class="form-check-label" for="DateExclude">排除</label>
                        </div>
                        》日期區間：
                    </div>
                    <div class="col d-flex align-items-center">
                        <input id="DateFrom" name="DateFrom" type="text" placeholder="請輸入起日"
                            class="form_date form-control form-control-sm" value="" />
                        <div class="mx-2">~</div>
                        <input id="DateTo" name="DateTo" type="text" placeholder="請輸入迄日"
                            class="form_date form-control form-control-sm" value="" />
                    </div>
                    <div class="text-danger d-flex justify-content-end text-nowrap pt-1">
                        <span id="dateAlert" class="text-danger pe-2 d-none pe-1">
                            <span class="mdi mdi-close-thick"></span>
                            結束日期須晚於開始日期
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-2">
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row flex-nowrap">
                    <label for="PeriodNo" class="col col-md-3 col-form-label fw-bold text-nowrap">
                        寄件過程
                    </label>
                    <div class="col pt-1 d-flex align-items-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="FirstSend" name="DeliveryStatus"
                                value="1303">
                            <label class="form-check-label text-nowrap" for="FirstSend">初次寄送</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="ReSend" name="DeliveryStatus" value="1309">
                            <label class="form-check-label text-nowrap" for="ReSend">退回重寄</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <label for="PeriodNo" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        郵件張數
                    </label>
                    <div class="col">
                        <input name="MailingCount" type="text" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <label for="MailNo1" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        郵件號碼1
                    </label>
                    <div class="col">
                        <div class="form-floating">
                            <input id="MailNo1" name="MailNo1" type="text" class="form-control form-control-sm" />
                            <label for="MailNo1">( 流水號碼段 )</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <label for="MailNo2" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        郵件號碼2
                    </label>
                    <div class="col">
                        <div class="form-floating">
                            <input id="MailNo2" name="MailNo2" type="text" class="form-control form-control-sm"
                                value="102286" />
                            <label for="MailNo2">( 固定號碼段 )</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2 col col-md-12 col-lg-6">
                <div class="row">
                    <label for="MailNo3" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        郵件號碼3
                    </label>
                    <div class="col">
                        <div class="form-floating">
                            <input id="MailNo3" name="MailNo3" type="text" class="form-control form-control-sm"
                                value="18" />
                            <label for="MailNo3">( 固定號碼段 )</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <label for="DeliveryDate" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        寄件日期
                    </label>
                    <div class="col">
                        <input id="DeliveryDate" name="DeliveryDate" type="text"
                            class="form_date form-control form-control-sm" />
                    </div>
                </div>
            </div>
            <div class="py-2 col-12 col-md-12 col-lg-6">
                <div class="row">
                    <label for="MailNo3" class="col-12 col-md-3 col-form-label fw-bold text-nowrap">
                        發票種類
                    </label>
                    <div class="col pt-1">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="UserTypeN" name="UserType" value="0">
                            <label class="form-check-label text-nowrap" for="UserTypeN">一般用戶</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="UserTypeV" name="UserType" value="1">
                            <label class="form-check-label text-nowrap" for="UserTypeV">VIP用戶</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--按鈕-->
        <div class="mt-3 d-block text-end">
            <button id="btnReset" type="button" class="px-3 btn btn-sm eivo__btn--reset" onclick="uiHandling.reset();">
                清除
            </button>
            <button id="btnQuery" type="button" class="px-3 btn btn-sm eivo__btn--default"
                onclick="uiHandling.reset(); uiHandling.inquireTracking();">
                查詢
            </button>
        </div>
    </div>
</div>
<div id="resultList"></div>

@{
    await Html.RenderPartialAsync("~/Views/Handling/ScriptHelper/Common.cshtml");
}

<div id="loadingOverlay1"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(169, 169, 169, 0.7); z-index: 9999;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="spinner-border text-primary" role="status" style="font-size: 50px;">
            <span class="sr-only">Loading...</span>
        </div>
        <p style="font-size: 50px; color: brown; ">Loading...111</p>
    </div>
</div>

<script>
    // 日期選擇器
    const dateAlert = document.querySelector("#dateAlert");
    flatpickr('#DateFrom, #DateTo,#DeliveryDate', config);

    //getWriterTimer1 = function () {
    //    var startNo = document.getElementsByName('StartNo')[0].value;
    //    var endNo = document.getElementsByName('EndNo')[0].value;
    //    startNo = parseInt(startNo.slice(-8));
    //    endNo = parseInt(endNo.slice(-8));
    //    var getSecond = (parseInt(endNo) - parseInt(startNo)) / 100;  //資料寫入UI所需要的秒數
    //    getSecond = Math.ceil(getSecond);//小數點無條件進位
    //    console.log(getSecond)
    //    //alert(getSecond)
    //    return getSecond;
    //}
</script>
