@using System.IO
@using System.Text
@using System.Linq.Expressions

@using ModelCore.Helper
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@{
  String _validCode;
  String _encryptedCode;

  _validCode = ValidityAgent.CreateRandomStringCode(6);
  _encryptedCode = Convert.ToBase64String(AppResource.Instance.Encrypt(Encoding.Default.GetBytes(_validCode)));
}

<div class="d-flex">
  <div class="me-2"
    style="background-image: url('@(Url.Action("CaptchaImg", "Account", new { code = _encryptedCode }))');display: block;width:150px;background-position: center; height: 38px; background-size:contain ;">
  </div>
  <div>
    <input type="text" name="ValidCode" class="mb-0 form-control" id="ValidCode" autocomplete="false"
      placeholder="請輸入驗證碼">
  </div>
</div>
<input name="EncryptedCode" type="hidden" value="@(_encryptedCode)" />