@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>網際優勢 - 電子發票平台</title>
  <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="~/css/Font-Awesome/all.min.css">
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/custom.min.css">
  @{
    await Html.RenderPartialAsync("~/Views/Shared/CommonScriptInclude.cshtml");
  }

  @RenderSection("headContent", false)
</head>

<body>
  <form id="theForm">
    @RenderSection("formContent", false)
  </form>
  @RenderBody()
</body>

</html>
@{
  await Html.RenderPartialAsync("~/Views/Shared/GlobalScript.cshtml");
}
@{
  await Html.RenderPartialAsync("~/Views/Shared/AlertMessage.cshtml");
}
@{
  await Html.RenderPartialAsync("~/Views/Shared/ReportInputError.cshtml");
}