
@using System.IO
@using System.Linq.Expressions

@using ModelCore.DataEntity

<!DOCTYPE html>
<html lang="en">
<head>
    <title>電子發票系統</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/eivo-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/rwd-table.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/body.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/content.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/header.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/left-menu.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/paper.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/StyleSheet.css" rel="stylesheet" />
    <link href="~/App_Themes/Visitor/table.css" rel="stylesheet" />    
    @{ 
        await Html.RenderPartialAsync("~/Views/Shared/CommonScriptInclude.cshtml");
    }
    @RenderSection("headContent", false)
</head>
<body>
    <form id="theForm">
        @RenderSection("formContent", false)
    </form>
    @RenderBody()
</body>
</html>
@{ await Html.RenderPartialAsync("~/Views/Shared/GlobalScript.cshtml");}
@{ await Html.RenderPartialAsync("~/Views/Shared/AlertMessage.cshtml");}
@{ await Html.RenderPartialAsync("~/Views/Shared/ReportInputError.cshtml");}
