@using System.IO
@using System.Linq.Expressions


@using ModelCore.DataEntity
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@{
    int? _model;
    _model = (int?)this.Model ?? 0;
}

<div class="py-2 col">
    <div class="row">
        <label for="invoice" class="col-md-4 col-form-label fw-bold text-nowrap">
            查詢項目
        </label>
        <div class="col pt-1 d-flex align-items-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="invoice" name="urlTo"
                    onchange="window.location.href='@(Url.Action("Index", "InvoiceProcess"))';" />
                <label class="form-check-label text-nowrap" for="invoice">
                    發票
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="allowance" name="urlTo"
                    onchange="window.location.href='@(Url.Action("Index", "AllowanceProcess"))';" />
                <label class="form-check-label text-nowrap" for="allowance">
                    折讓單
                </label>
            </div>
            <script>
                $(function () {
                    $('input[name="urlTo"]').eq(@(_model)).prop('checked', true);
                });
            </script>
        </div>
    </div>
</div>
