@using System.IO
@using System.Linq.Expressions


@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Helper
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers

@using ModelCore.Models.ViewModel
@{
    ModelSource<InvoiceItem> models;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;

    IEnumerable<InvoiceNoInterval> _model;
    _model = (IEnumerable<InvoiceNoInterval>)this.Model;
    InquireNoIntervalViewModel _viewModel = ViewBag.ViewModel as InquireNoIntervalViewModel;
}

<!-- 電子發票號碼維護 -->
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
    }
</div>

<div id="queryResult" class="query_result">
    @{
        var recordCount = _model.Count();
        bool hasOrg = false;
    }
    @if (_viewModel?.SellerID.HasValue == true)
    {
        var orgItem = models.GetTable<Organization>().Where(o => o.CompanyID == _viewModel.SellerID).FirstOrDefault();
        if (orgItem != null)
        {
            hasOrg = true;
            <div class="my-2">
                設定營業人@(orgItem.CompanyName)(@(orgItem.ReceiptNo))可用配號存量警戒值：
                <input class="form-control form-control-sm" name="InvoiceNoSafetyStock" type="number"
                    value="@(orgItem.OrganizationExtension?.InvoiceNoSafetyStock)"
                    onchange="commitSafetyStock('@(orgItem.CompanyID.EncryptKey())');" />
            </div>
        }
    }

    @if (recordCount > 0)
    {
        <div class="mt-2 card shadow-sm border-2 rounded-3">
            <div class="card-body">
                <div class="table-responsive">
                    @{
                        await Html.RenderPartialAsync("~/Views/InvoiceNo/Module/IntervalItemList.cshtml", _model);
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        if (!hasOrg)
        {
            <div class="mt-2 card shadow-sm border-2 rounded-3">
                <div class="card-body">
                    <div class="py-3 fs-6 text-center text-primary">
                        尚無資料！
                    </div>
                </div>
            </div>
        }
        await Html.RenderPartialAsync("~/Views/InvoiceNo/Module/IntervalItemList.cshtml", _model);
    }
</div>
