@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Security.MembershipManagement

@using ModelCore.Helper
@using WebHome.Controllers
@{
    UserProfile _profile = Context.GetUser();
    int? _idx = (TempData["ImportData"] as int?) ?? 0;
    TempData["ImportData"] = _idx + 1;
}

<div class="mb-3 row">
    <label for="EncSellerID" class="col-sm-4 col-form-label fw-bold text-nowrap">
        <span class="text-danger">*</span>
        發票字軌號碼
    </label>
    <div class="col-sm-8">
        <button type="button" id="@($"btnGetSample{_idx}")" class="px-3 btn btn-sm eivo__btn--default">
            <i class="fas fa-download"></i>
            下載範本
        </button>
        <button type="button" id="@($"btnImportData{_idx}")" class="px-3 btn btn-sm eivo__btn--check">
            <i class="fas fa-paper-plane"></i>
            立即傳送
        </button>
    </div>
</div>

<script>
    $(function () {

        $('#@($"btnGetSample{_idx}")').on('click', function (event) {
            $('').launchDownload('@Html.Raw(Url.Action("GetUploadInvoiceTrackCodeSample", "InvoiceNo"))', {});
        });

        var $btn = $('#@($"btnImportData{_idx}")');
        var $file = $('<input name="excelFile" type="file" style="display: none;" />');
        $btn.before($file);

        $btn.click(function () {
            $file.val('');
            $file.click();
        });

        var $result;

        $file.on('change', function (event) {
            clearErrors();
            var $formData = $('form').find('input,select,textArea').serializeObject();
            uploadFile($file, $formData, '@Html.Raw(Url.Action("UploadToPreview", "InvoiceNo"))',
                function (data) {
                    $btn.before($file);
                    if ($.isPlainObject(data)) {
                        if (data.result) {

                        } else {
                            alert(data.message);
                        }
                    } else {
                        if ($result) {
                            $result.remove();
                        }
                        $result = $(data);
                        $('#queryArea').after($result);
                    }
                },
                function () {
                    $btn.before($file);
                });
        });
    });
</script>