@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

@{

    IQueryable<UserProfile> _model;

    UserAccountQueryViewModel _viewModel = (UserAccountQueryViewModel)ViewBag.ViewModel;

    int _pageSize;

    _model = (IQueryable<UserProfile>)this.Model;
    _pageSize = _viewModel.PageSize.Value;
}

<div id="dataTitle" class="my-2 d-flex justify-content-between align-items-center">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
    }
    <button type="button" class="px-3 my-1 me-1 btn btn-sm eivo__btn--check text-nowrap"
        onclick="uiAccountQuery.edit();">
        <i class="far fa-plus"></i>
        新增
    </button>
</div>

@{
    var recordCount = _model.Count();
}
<div id="dataList" class="card shadow-sm border-2 rounded-3">
    <div id="tableList" class="card-body">
        @if (recordCount > 0)
        {
            await Html.RenderPartialAsync("~/Views/Account/Module/ItemList.cshtml", _model);

            if (ViewBag.ResultAction != null)
            {
                await Html.RenderPartialAsync((String)ViewBag.ResultAction);
            }
        }
        else
        {
            <div class="py-3 fs-6 fw-bold text-danger text-center">
                <i class="fas fa-exclamation-circle"></i>
                目前尚無資料！
            </div>
        }
    </div>
</div>
@if (recordCount > 0)
{
    <input type="hidden" name="PageIndex" />
    <!-- 查詢分頁 -->
    <div id="dataPagination" class="my-3 d-flex align-items-center">
        <nav aria-label="Page navigation">
            <ul id="itemPagination" class="mb-0 pagination eivo__pagination align-items-center"></ul>
        </nav>
    </div>
    <script>
        $(function () {
            var obj = $('#itemPagination').twbsPagination({
                totalPages: @((recordCount + _pageSize - 1) / _pageSize),
                totalRecordCount: @(recordCount),
                visiblePages: 10,
                first: '<i class="fas fa-arrow-alt-to-left"></i>',
                prev: '<i class="fas fa-arrow-alt-left"></i>',
                next: '<i class="fas fa-arrow-alt-right"></i>',
                last: '<i class="fas fa-arrow-alt-to-right"></i>',
                initiateStartPageClick: false,
                onPageClick: function (event, page) {
                    uiAccountQuery.inquire(page, function (data) {
                        var $node = $('.itemList').next();
                        $('.itemList').remove();
                        $node.before(data);
                    });
                }
            });
        });
    </script>
}
