@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

<div class="py-2 d-flex align-items-center justify-content-between">
    <div>
        <!--交易畫面標題-->
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "中獎號碼維護");
        }
    </div>
    <div>
        <!--資料維護-->
        <span class="fw-bold">
            雲端發票中獎清冊：
        </span>
        <button type="button" id="btnDataSample" class="px-3 btn btn-sm eivo__btn--default"
            onclick="uiWinningNo.downloadQuery();">
            <i class="fas fa-download"></i>
            下載範本
        </button>
        @{
            @* string htmlString = "<i class='fas fa-paper-plane'></i><span>立即傳送</span>"; *@
            await Html.RenderPartialAsync("~/Views/Shared/Module/FileUpload.cshtml",
            new AttachmentViewModel
            {
                FileName = "ExcelFile",
                ButtonField = "立即傳送",
                UrlAction = Url.Action("UploadWinningNo", "WinningNumber"),
            });
        }
    </div>
</div>
<div id="queryArea" class="mb-4 card shadow-sm">
    <div class="card-body">
        <!-- 查詢條件 -->
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
            @{
                await Html.RenderPartialAsync("~/Views/TrackCode/DataQuery/TrackCodePeriod.cshtml");
            }
        </div>
        <!--按鈕-->
        <div class="mt-3 d-block text-end">
            <button id="btnQuery" type="button" class="px-3 btn btn-sm eivo__btn--default"
                onclick="uiWinningNo.inquire();">
                查詢
            </button>
        </div>
    </div>
</div>
<div id="resultList"></div>

<!--表格 開始-->
@{
    await Html.RenderPartialAsync("~/Views/WinningNumber/ScriptHelper/Common.cshtml");
}

@{
    await Html.RenderPartialAsync("~/Views/WinningNumber/ScriptHelper/MatchWinning.cshtml");
}
