@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    UserProfile _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    IQueryable<InvoiceItem> _model = (IQueryable<InvoiceItem>)this.Model;
    InquireInvoiceViewModel _viewModel = (InquireInvoiceViewModel)ViewBag.ViewModel;
}
@{
    String[] columns = (string[])ViewBag.TableColumns;
}
@*<tr>
    <td colspan="@(columns.Length-5)"></td>
    <td>金額總計：</td>
    <td>
        @{
            await Html.RenderPartialAsync("~/Views/PO/Module/POPayoffAmountSummary.cshtml", _model);
        }
    </td>
    <td colspan="2"></td>
</tr>*@