@using System.IO
@using System.Linq.Expressions



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    UserProfile _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    IQueryable _model = (IQueryable)this.Model;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}

@{ await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果"); }

<div class="border_gray">
    @{
        var recordCount = _viewModel.RecordCount;
        if (recordCount > 0 || ViewBag.CreateNew != null)
        {
            await Html.RenderPartialAsync("~/Views/Common/Module/QueryPaging.cshtml", _model);
            if (_viewModel.ResultAction != null)
            {
                await Html.RenderPartialAsync((String)_viewModel.ResultAction);
            }
        }
        else
        {
            <font color="red">查無資料!!</font>
        }
    }
</div>

