@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
@{
    String[] columns = (string[])ViewBag.TableColumns;
    object item = (object)this.Model;
}
<tr>
    @foreach (var c in columns)
    {
        <td class="text-nowrap">
            @{
                await Html.RenderPartialAsync(c, item);
            }
        </td>
    }
</tr>
