@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    UserProfile _profile = Context.GetUser();
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    ProductCatalogQueryViewModel _viewModel = (ProductCatalogQueryViewModel)ViewBag.ViewModel;
}
@{
    Naming.FieldDisplayType? displayType = (Naming.FieldDisplayType?)ViewBag.DisplayType;
}
@switch (displayType)
{
    case Naming.FieldDisplayType.Header:
        <a href="javascript:void(0);" onclick="$inquiryAgent.sort('ProductName',this);">品名</a>
        break;
    case Naming.FieldDisplayType.DataItem:
        ProductCatalog item = this.Model as ProductCatalog;
        <text>@(item?.ProductName)</text>
        break;
    case Naming.FieldDisplayType.SortBy:
        ProductCatalogQueryViewModel viewModel = (ProductCatalogQueryViewModel)ViewBag.ViewModel;
        if (viewModel.SortName != null)
        {
            int idx = System.Array.IndexOf(viewModel.SortName, "ProductName");
            if (idx >= 0)
            {
                if (viewModel.SortType[idx] == (int)Naming.SortType.ASC)
                {
                    if (TempData["SortedItems"] != null)
                    {
                        TempData["SortedItems"] = ((IOrderedQueryable<ProductCatalog>)TempData["SortedItems"]).ThenBy(p => p.ProductName);
                    }
                    else
                    {
                        TempData["SortedItems"] = ((IQueryable<ProductCatalog>)this.Model).OrderBy(p => p.ProductName);
                    }
                }
                else if (viewModel.SortType[idx] == (int)Naming.SortType.DESC)
                {
                    if (TempData["SortedItems"] != null)
                    {
                        TempData["SortedItems"] = ((IOrderedQueryable<ProductCatalog>)TempData["SortedItems"]).ThenByDescending(p =>
                        p.ProductName);
                    }
                    else
                    {
                        TempData["SortedItems"] = ((IQueryable<ProductCatalog>)this.Model).OrderByDescending(p => p.ProductName);
                    }
                }
            }
        }
        break;
    case Naming.FieldDisplayType.Query:
        <div class="py-2 col">
            <div class="row">
                <label for="ProductName" class="col-md-4 col-form-label fw-bold text-nowrap">
                    品名
                </label>
                <div class="col">
                    @{
                        editField(_viewModel, null);
                    }
                </div>
            </div>
        </div>
        break;
    case Naming.FieldDisplayType.Edit:
        item = this.Model as ProductCatalog;
        editField(_viewModel, item);
        break;
    default:
        break;
}

@functions
{
    void editField(ProductCatalogQueryViewModel _viewModel, ProductCatalog item)
    {
        <input id="ProductName" name="ProductName" class="form-control form-control-sm" type="text"
            value="@(item != null ? item.ProductName : _viewModel?.ProductName)" />
    }
}
