@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json

@using CommonLib.DataAccess
@{
    IQueryable<InvoiceTrackCode> _model;
    QueryViewModel _viewModel;

    _model = (IQueryable<InvoiceTrackCode>)this.Model;
    _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
<div class="table-responsive">
    <table id="itemList" class="mb-0 table align-middle table-striped itemList eivo__table">
        <thead>
            <tr>
                <th scope="col" style="min-width: 120px;" aria-sort="other">發票年度</th>
                <th scope="col" style="min-width: 120px;">發票期別</th>
                <th scope="col" style="min-width: 120px;">字軌</th>
                <th scope="col" style="min-width: 120px;">類別</th>
                <th scope="col" aria-sort="other">操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                await Html.RenderPartialAsync("~/Views/TrackCode/Module/ItemList.cshtml", _model);
            }
        </tbody>
        <tfoot>
            @{
                await Html.RenderPartialAsync("~/Views/TrackCode/Module/AddItem.cshtml");
            }
        </tfoot>
    </table>
</div>
