@using System.IO
@using System.Linq.Expressions


@using ModelCore.DataEntity
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@{
    IQueryable<UnassignedInvoiceNo> _model = (IQueryable<UnassignedInvoiceNo>)this.Model;
}

<!-- 上期發票空白號碼查詢／匯出 -->
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
    }
</div>
  
<div id="queryResult" class="query_result">
    @{
        var recordCount = _model.Count();
    }
    @if (recordCount > 0)
    {
        <div class="mt-2 card shadow-sm border-2 rounded-3">
            <div class="card-body">
                <div class="table-responsive">
                    @{
                        await Html.RenderPartialAsync("~/Views/InvoiceNo/VacantNo/ItemList.cshtml", _model);
                    }
                </div>
            </div>
        </div>

        <div id="tblAction" class="my-3">
            <button type="button" id="btnDownloadXml" name="btnDownloadXml"
                class="px-3 my-1 me-1 btn btn-sm eivo__btn--default" onclick="uiVacantNoQuery.download();">
                <i class="fas fa-download"></i>
                Xml 下載
            </button>
            <button type="button" id="btnDownloadCsv" name="btnDownloadCsv"
                class="px-3 my-1 me-1 btn btn-sm eivo__btn--default" onclick="uiVacantNoQuery.downloadCsv();">
                <i class="fas fa-download"></i>
                Csv 下載
            </button>
        </div>
    }
    else
    {
        <div class="mt-2 card shadow-sm border-2 rounded-3">
            <div class="card-body">
                <div class="py-3 fs-6 text-center text-primary">
                    尚無資料！
                </div>
            </div>
        </div>
    }
</div>