@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using WebHome.Controllers
@{

    ModelSource<InvoiceItem> models;
    ModelStateDictionary _modelState;
    UserProfileViewModel _viewModel;

    UserProfile _model = this.Model as UserProfile;
    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    _viewModel = (UserProfileViewModel)ViewBag.ViewModel;
}

<div class="modal fade show" id="editUserProfileModal" tabindex="-1" aria-labelledby="editUserProfileModalLabel">
    <form method="post">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="mb-0 fs-5 fw-bold text-primary border-primary ps-2" id="editUserProfileModalLabel">
                        <!--交易畫面標題-->
                        會員帳號設定
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="uiUserProfile.close();"></button>
                </div>
                <div class="modal-body">
                    <!--表格 開始-->
                    <div class="container">
                        @{
                            await Html.RenderPartialAsync("~/Views/UserProfile/Module/ItemForm.cshtml");
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="uiUserProfile.close();">離開</button>
                    <button type="button" class="btn btn-primary" onclick="uiUserProfile.commit();">確定</button>
                </div>
            </div>
        </div>
    </form>

    <!--表格 開始-->
    <script>
        var uiUserProfile;
        $(function () {
            uiUserProfile = {
                commit: function () {
                    var event = event || window.event;
                    var $form = $(event.target).closest('form');
                    console.log('$form', $form);
                    $form.ajaxForm({
                        url: "@Html.Raw(Url.Action("Commit", "UserProfile", new { WaitForCheck = _viewModel.WaitForCheck }))",
                        beforeSubmit: function () {
                            clearErrors();
                            showLoading();
                        },
                        success: function (data) {
                            hideLoading();
                            if ($.isPlainObject(data)) {
                                if (data.result) {
                                    if ($global.actionDone) {
                                        $global.actionDone();
                                    }
                                } else {
                                    alert(data.message);
                                }
                            } else {
                                console.log('del->new');
                                $('#editUserProfileModal').remove();
                                $('#modalBackdrop').remove();
                                $(data).appendTo($('body'));
                            }
                        },
                        error: function () {
                            hideLoading();
                        }
                    }).submit();
                },
                close: function () {
                    $('#editUserProfileModal').remove();
                    $('#modalBackdrop').remove();
                }
            };
        });
    </script>
</div>
