@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Html
@using WebHome.Helper

<nav id="sidebarMenu" class="pb-4 d-block sidebar">
    <div class="accordion" id="accordionSideMenu">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_01">
                <button class="system_01 py-2 fs-1-5 fw-bold accordion-button eivo__menu-title rounded-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#system_01" aria-expanded="false"
                    aria-controls="system_01">
                    會員管理
                </button>
            </h2>
            <div id="system_01" class="accordion-collapse collapse" aria-labelledby="heading_01"
                data-bs-parent="#accordionSideMenu">
                <div class="accordion-body p-0">
                    <div class="list-group list-group-flush">
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("EditMySelf", "UserProfile", new { group = "system_01" }))')"
                            id="EditMySelf" class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            帳號管理
                        </a>
                        <a href="#"
                            onclick="urlHandler('@(Url.Action("QueryIndex", "InvoiceAudit", new { group = "system_01" }))')"
                            id="InvoiceAudit"
                            class="ps-4 border-0 list-group-item list-group-item-action eivo__menu-btn">
                            <i class="fas fa-angle-right me-1"></i>
                            資料查詢
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
