USE [EIVO03]
GO
/****** Object:  Table [billing].[BillingExtension]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[BillingExtension](
	[CompanyID] [int] NOT NULL,
	[BillingCycleInMonth] [int] NOT NULL,
 CONSTRAINT [PK_BillingExtension] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [billing].[BillingExtension]  WITH CHECK ADD  CONSTRAINT [FK_BillingExtension_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [billing].[BillingExtension] CHECK CONSTRAINT [FK_BillingExtension_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'billing', @level1type=N'TABLE',@level1name=N'BillingExtension', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
