USE [EIVO03]
GO
/****** Object:  Table [billing].[MonthlyBilling]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[MonthlyBilling](
	[SettlementID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[TotalIssueCount] [int] NOT NULL,
	[IssueChargeAmount] [int] NOT NULL,
	[BillID] [int] NULL,
 CONSTRAINT [PK_MonthlyBilling] PRIMARY KEY CLUSTERED 
(
	[SettlementID] ASC,
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [billing].[MonthlyBilling]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyBilling_BillSubmission] FOREIGN KEY([BillID])
REFERENCES [billing].[BillSubmission] ([BillID])
ON DELETE SET NULL
GO
ALTER TABLE [billing].[MonthlyBilling] CHECK CONSTRAINT [FK_MonthlyBilling_BillSubmission]
GO
ALTER TABLE [billing].[MonthlyBilling]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyBilling_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [billing].[MonthlyBilling] CHECK CONSTRAINT [FK_MonthlyBilling_Organization]
GO
ALTER TABLE [billing].[MonthlyBilling]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyBilling_Settlement] FOREIGN KEY([SettlementID])
REFERENCES [billing].[Settlement] ([SettlementID])
ON DELETE CASCADE
GO
ALTER TABLE [billing].[MonthlyBilling] CHECK CONSTRAINT [FK_MonthlyBilling_Settlement]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'billing', @level1type=N'TABLE',@level1name=N'MonthlyBilling', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
