USE [EIVO03]
GO
/****** Object:  Table [billing].[MonthlyExtraBilling]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[MonthlyExtraBilling](
	[SettlementID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ItemName] [nvarchar](64) NULL,
	[Fee] [int] NOT NULL,
 CONSTRAINT [PK_MonthlyExtraBilling] PRIMARY KEY CLUSTERED 
(
	[SettlementID] ASC,
	[ItemID] ASC,
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [billing].[MonthlyExtraBilling]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyExtraBilling_MonthlyBilling] FOREIGN KEY([SettlementID], [CompanyID])
REFERENCES [billing].[MonthlyBilling] ([SettlementID], [CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [billing].[MonthlyExtraBilling] CHECK CONSTRAINT [FK_MonthlyExtraBilling_MonthlyBilling]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'billing', @level1type=N'TABLE',@level1name=N'MonthlyExtraBilling', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
