USE [EIVO03]
GO
/****** Object:  Table [center].[MasterBranches]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[MasterBranches](
	[MasterID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
 CONSTRAINT [PK_MasterBranches] PRIMARY KEY CLUSTERED 
(
	[MasterID] ASC,
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[MasterBranches]  WITH CHECK ADD  CONSTRAINT [FK_MasterBranches_MasterOrganization] FOREIGN KEY([MasterID])
REFERENCES [center].[MasterOrganization] ([MasterID])
ON DELETE CASCADE
GO
ALTER TABLE [center].[MasterBranches] CHECK CONSTRAINT [FK_MasterBranches_MasterOrganization]
GO
ALTER TABLE [center].[MasterBranches]  WITH CHECK ADD  CONSTRAINT [FK_MasterBranches_Organization] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [center].[MasterBranches] CHECK CONSTRAINT [FK_MasterBranches_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'MasterBranches', @level2type=N'COLUMN',@level2name=N'MasterID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'MasterBranches', @level2type=N'COLUMN',@level2name=N'BranchID'
GO
