USE [EIVO03]
GO
/****** Object:  Table [center].[DocumentFlow]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[DocumentFlow](
	[FlowID] [int] IDENTITY(1,1) NOT NULL,
	[FlowName] [nvarchar](64) NULL,
	[InitialStep] [int] NULL,
 CONSTRAINT [PK_DocumentFlow] PRIMARY KEY CLUSTERED 
(
	[FlowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[DocumentFlow]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlow_DocumentFlowControl] FOREIGN KEY([InitialStep])
REFERENCES [center].[DocumentFlowControl] ([StepID])
GO
ALTER TABLE [center].[DocumentFlow] CHECK CONSTRAINT [FK_DocumentFlow_DocumentFlowControl]
GO
