USE [EIVO03]
GO
/****** Object:  Table [center].[MasterOrganization]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[MasterOrganization](
	[MasterID] [int] NOT NULL,
	[EnterpriseName] [nvarchar](128) NULL,
 CONSTRAINT [PK_MasterOrganization] PRIMARY KEY CLUSTERED 
(
	[MasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[MasterOrganization]  WITH CHECK ADD  CONSTRAINT [FK_MasterOrganization_Organization] FOREIGN KEY([MasterID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [center].[MasterOrganization] CHECK CONSTRAINT [FK_MasterOrganization_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'MasterOrganization', @level2type=N'COLUMN',@level2name=N'MasterID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'機關名稱' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'MasterOrganization', @level2type=N'COLUMN',@level2name=N'EnterpriseName'
GO
