USE [EIVO03]
GO
/****** Object:  Table [center].[DocumentTypeFlow]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[DocumentTypeFlow](
	[TypeID] [int] NOT NULL,
	[FlowID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[BusinessID] [int] NOT NULL,
 CONSTRAINT [PK_DocumentTypeFlow] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC,
	[FlowID] ASC,
	[CompanyID] ASC,
	[BusinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[DocumentTypeFlow]  WITH CHECK ADD  CONSTRAINT [FK_DocumentTypeFlow_BusinessType] FOREIGN KEY([BusinessID])
REFERENCES [center].[BusinessType] ([BusinessID])
GO
ALTER TABLE [center].[DocumentTypeFlow] CHECK CONSTRAINT [FK_DocumentTypeFlow_BusinessType]
GO
ALTER TABLE [center].[DocumentTypeFlow]  WITH CHECK ADD  CONSTRAINT [FK_DocumentTypeFlow_DocumentFlow] FOREIGN KEY([FlowID])
REFERENCES [center].[DocumentFlow] ([FlowID])
GO
ALTER TABLE [center].[DocumentTypeFlow] CHECK CONSTRAINT [FK_DocumentTypeFlow_DocumentFlow]
GO
ALTER TABLE [center].[DocumentTypeFlow]  WITH CHECK ADD  CONSTRAINT [FK_DocumentTypeFlow_DocumentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[DocumentType] ([TypeID])
GO
ALTER TABLE [center].[DocumentTypeFlow] CHECK CONSTRAINT [FK_DocumentTypeFlow_DocumentType]
GO
ALTER TABLE [center].[DocumentTypeFlow]  WITH CHECK ADD  CONSTRAINT [FK_DocumentTypeFlow_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [center].[DocumentTypeFlow] CHECK CONSTRAINT [FK_DocumentTypeFlow_Organization]
GO
