USE [EIVO03]
GO
/****** Object:  Table [center].[DocumentFlowBranch]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[DocumentFlowBranch](
	[StepID] [int] NOT NULL,
	[BranchStep] [int] NOT NULL,
	[BranchName] [nvarchar](64) NULL,
	[FlowID] [int] NOT NULL,
 CONSTRAINT [PK_DocumentFlowBranch] PRIMARY KEY CLUSTERED 
(
	[StepID] ASC,
	[BranchStep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[DocumentFlowBranch]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowBranch_DocumentFlow] FOREIGN KEY([FlowID])
REFERENCES [center].[DocumentFlow] ([FlowID])
GO
ALTER TABLE [center].[DocumentFlowBranch] CHECK CONSTRAINT [FK_DocumentFlowBranch_DocumentFlow]
GO
ALTER TABLE [center].[DocumentFlowBranch]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowBranch_DocumentFlowControl] FOREIGN KEY([StepID])
REFERENCES [center].[DocumentFlowControl] ([StepID])
ON DELETE CASCADE
GO
ALTER TABLE [center].[DocumentFlowBranch] CHECK CONSTRAINT [FK_DocumentFlowBranch_DocumentFlowControl]
GO
ALTER TABLE [center].[DocumentFlowBranch]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowBranch_DocumentFlowControl1] FOREIGN KEY([BranchStep])
REFERENCES [center].[DocumentFlowControl] ([StepID])
GO
ALTER TABLE [center].[DocumentFlowBranch] CHECK CONSTRAINT [FK_DocumentFlowBranch_DocumentFlowControl1]
GO
