USE [EIVO03]
GO
/****** Object:  Table [center].[DocumentFlowStep]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[DocumentFlowStep](
	[DocID] [int] NOT NULL,
	[CurrentFlowStep] [int] NOT NULL,
 CONSTRAINT [PK_DocumentFlowStep] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[DocumentFlowStep]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowStep_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [center].[DocumentFlowStep] CHECK CONSTRAINT [FK_DocumentFlowStep_CDS_Document]
GO
ALTER TABLE [center].[DocumentFlowStep]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowStep_DocumentFlowControl] FOREIGN KEY([CurrentFlowStep])
REFERENCES [center].[DocumentFlowControl] ([StepID])
GO
ALTER TABLE [center].[DocumentFlowStep] CHECK CONSTRAINT [FK_DocumentFlowStep_DocumentFlowControl]
GO
