USE [EIVO03]
GO
/****** Object:  Table [center].[DocumentFlowControl]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[DocumentFlowControl](
	[StepID] [int] IDENTITY(1,1) NOT NULL,
	[NextStep] [int] NULL,
	[PrevStep] [int] NULL,
	[LevelID] [int] NOT NULL,
	[FlowID] [int] NOT NULL,
 CONSTRAINT [PK_DocumentFlowControl] PRIMARY KEY CLUSTERED 
(
	[StepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[DocumentFlowControl]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowControl_DocumentFlow] FOREIGN KEY([FlowID])
REFERENCES [center].[DocumentFlow] ([FlowID])
GO
ALTER TABLE [center].[DocumentFlowControl] CHECK CONSTRAINT [FK_DocumentFlowControl_DocumentFlow]
GO
ALTER TABLE [center].[DocumentFlowControl]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowControl_DocumentFlowControl] FOREIGN KEY([NextStep])
REFERENCES [center].[DocumentFlowControl] ([StepID])
GO
ALTER TABLE [center].[DocumentFlowControl] CHECK CONSTRAINT [FK_DocumentFlowControl_DocumentFlowControl]
GO
ALTER TABLE [center].[DocumentFlowControl]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowControl_DocumentFlowControl1] FOREIGN KEY([PrevStep])
REFERENCES [center].[DocumentFlowControl] ([StepID])
GO
ALTER TABLE [center].[DocumentFlowControl] CHECK CONSTRAINT [FK_DocumentFlowControl_DocumentFlowControl1]
GO
ALTER TABLE [center].[DocumentFlowControl]  WITH CHECK ADD  CONSTRAINT [FK_DocumentFlowControl_LevelExpression] FOREIGN KEY([LevelID])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [center].[DocumentFlowControl] CHECK CONSTRAINT [FK_DocumentFlowControl_LevelExpression]
GO
