USE [EIVO03]
GO
/****** Object:  Table [center].[BusinessRelationship]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [center].[BusinessRelationship](
	[MasterID] [int] NOT NULL,
	[RelativeID] [int] NOT NULL,
	[BusinessID] [int] NOT NULL,
	[CurrentLevel] [int] NULL,
	[CompanyName] [nvarchar](128) NULL,
	[Phone] [nvarchar](64) NULL,
	[Addr] [nvarchar](256) NULL,
	[ContactEmail] [nvarchar](512) NULL,
	[CustomerNo] [nvarchar](16) NULL,
 CONSTRAINT [PK_BusinessRelationship] PRIMARY KEY CLUSTERED 
(
	[MasterID] ASC,
	[RelativeID] ASC,
	[BusinessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [center].[BusinessRelationship]  WITH CHECK ADD  CONSTRAINT [FK_BusinessRelationship_BusinessType] FOREIGN KEY([BusinessID])
REFERENCES [center].[BusinessType] ([BusinessID])
GO
ALTER TABLE [center].[BusinessRelationship] CHECK CONSTRAINT [FK_BusinessRelationship_BusinessType]
GO
ALTER TABLE [center].[BusinessRelationship]  WITH CHECK ADD  CONSTRAINT [FK_BusinessRelationship_LevelExpression] FOREIGN KEY([CurrentLevel])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [center].[BusinessRelationship] CHECK CONSTRAINT [FK_BusinessRelationship_LevelExpression]
GO
ALTER TABLE [center].[BusinessRelationship]  WITH CHECK ADD  CONSTRAINT [FK_BusinessRelationship_Organization2] FOREIGN KEY([MasterID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [center].[BusinessRelationship] CHECK CONSTRAINT [FK_BusinessRelationship_Organization2]
GO
ALTER TABLE [center].[BusinessRelationship]  WITH CHECK ADD  CONSTRAINT [FK_BusinessRelationship_Organization3] FOREIGN KEY([RelativeID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [center].[BusinessRelationship] CHECK CONSTRAINT [FK_BusinessRelationship_Organization3]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'機關名稱' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'BusinessRelationship', @level2type=N'COLUMN',@level2name=N'CompanyName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'電話' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'BusinessRelationship', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'BusinessRelationship', @level2type=N'COLUMN',@level2name=N'Addr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'連絡人電子郵件' , @level0type=N'SCHEMA',@level0name=N'center', @level1type=N'TABLE',@level1name=N'BusinessRelationship', @level2type=N'COLUMN',@level2name=N'ContactEmail'
GO
