USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentProcessLog]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentProcessLog](
	[DocID] [int] NOT NULL,
	[StepDate] [datetime] NOT NULL,
	[FlowStep] [int] NOT NULL,
	[UID] [int] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_DocumentProcessLog] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[StepDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentProcessLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentProcessLog_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [dbo].[DocumentProcessLog] CHECK CONSTRAINT [FK_DocumentProcessLog_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentProcessLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentProcessLog_LevelExpression] FOREIGN KEY([FlowStep])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[DocumentProcessLog] CHECK CONSTRAINT [FK_DocumentProcessLog_LevelExpression]
GO
ALTER TABLE [dbo].[DocumentProcessLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentProcessLog_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[DocumentProcessLog] CHECK CONSTRAINT [FK_DocumentProcessLog_UserProfile]
GO
