USE [EIVO03]
GO
/****** Object:  Table [dbo].[ReceiptDetail]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[Description] [nvarchar](256) NULL,
	[Quantity] [decimal](18, 4) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[Amount] [decimal](18, 4) NULL,
	[Remark] [nvarchar](128) NULL,
	[SequenceNO] [smallint] NULL,
 CONSTRAINT [PK_ReceiptDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReceiptDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetail_ReceiptItem] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[ReceiptItem] ([ReceiptID])
GO
ALTER TABLE [dbo].[ReceiptDetail] CHECK CONSTRAINT [FK_ReceiptDetail_ReceiptItem]
GO
