USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceNoAllocation]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNoAllocation](
	[IntervalID] [int] NOT NULL,
	[InvoiceNo] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[RandomNo] [nvarchar](10) NULL,
	[EncryptedContent] [nvarchar](256) NULL,
	[AllocateDate] [datetime] NULL,
 CONSTRAINT [PK_InvoiceNoAllocation] PRIMARY KEY CLUSTERED 
(
	[IntervalID] ASC,
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceNoAllocation] ADD  CONSTRAINT [DF_InvoiceNoAllocation_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[InvoiceNoAllocation]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoAllocation_InvoiceNoInterval] FOREIGN KEY([IntervalID])
REFERENCES [dbo].[InvoiceNoInterval] ([IntervalID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceNoAllocation] CHECK CONSTRAINT [FK_InvoiceNoAllocation_InvoiceNoInterval]
GO
