USE [EIVO03]
GO
/****** Object:  Table [dbo].[ResetUserPassword]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetUserPassword](
	[UID] [int] NOT NULL,
	[ResetID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ResetUserPassword] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResetUserPassword]  WITH CHECK ADD  CONSTRAINT [FK_ResetUserPassword_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResetUserPassword] CHECK CONSTRAINT [FK_ResetUserPassword_UserProfile]
GO
