USE [EIVO03]
GO
/****** Object:  Table [dbo].[POSInvoiceNoSegment]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSInvoiceNoSegment](
	[SegmentID] [int] NOT NULL,
	[DeviceID] [int] NOT NULL,
	[RequestDate] [datetime] NULL,
 CONSTRAINT [PK_POSInvoiceNoSegment] PRIMARY KEY CLUSTERED 
(
	[SegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSInvoiceNoSegment]  WITH CHECK ADD  CONSTRAINT [FK_POSInvoiceNoSegment_InvoiceNoSegment] FOREIGN KEY([SegmentID])
REFERENCES [dbo].[InvoiceNoSegment] ([SegmentID])
GO
ALTER TABLE [dbo].[POSInvoiceNoSegment] CHECK CONSTRAINT [FK_POSInvoiceNoSegment_InvoiceNoSegment]
GO
ALTER TABLE [dbo].[POSInvoiceNoSegment]  WITH CHECK ADD  CONSTRAINT [FK_POSInvoiceNoSegment_POSDevice] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[POSDevice] ([DeviceID])
GO
ALTER TABLE [dbo].[POSInvoiceNoSegment] CHECK CONSTRAINT [FK_POSInvoiceNoSegment_POSDevice]
GO
