USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentPostLog]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentPostLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[PostCode] [nvarchar](10) NOT NULL,
	[RegisterCode] [nvarchar](10) NOT NULL,
	[ZipCode] [nvarchar](10) NOT NULL,
	[MailType] [nvarchar](10) NOT NULL,
	[ChkCode] [nvarchar](10) NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_DocumentPostLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentPostLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentPostLog_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
GO
ALTER TABLE [dbo].[DocumentPostLog] CHECK CONSTRAINT [FK_DocumentPostLog_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'郵局號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentPostLog', @level2type=N'COLUMN',@level2name=N'PostCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'掛號號碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentPostLog', @level2type=N'COLUMN',@level2name=N'RegisterCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'郵遞區號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentPostLog', @level2type=N'COLUMN',@level2name=N'ZipCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'郵件種類碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentPostLog', @level2type=N'COLUMN',@level2name=N'MailType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'掛號檢查碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentPostLog', @level2type=N'COLUMN',@level2name=N'ChkCode'
GO
