USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceDeliveryTracking]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDeliveryTracking](
	[TrackingID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[TrackingNo1] [nvarchar](16) NULL,
	[TrackingNo2] [nvarchar](16) NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[DeliveryStatus] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceDeliveryTracking] PRIMARY KEY CLUSTERED 
(
	[TrackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceDeliveryTracking]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceDeliveryTracking] ON [dbo].[InvoiceDeliveryTracking]
(
	[DeliveryStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceDeliveryTracking_1]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceDeliveryTracking_1] ON [dbo].[InvoiceDeliveryTracking]
(
	[TrackingNo1] ASC,
	[TrackingNo2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceDeliveryTracking]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDeliveryTracking_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceDeliveryTracking] CHECK CONSTRAINT [FK_InvoiceDeliveryTracking_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoiceDeliveryTracking]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDeliveryTracking_LevelExpression] FOREIGN KEY([DeliveryStatus])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[InvoiceDeliveryTracking] CHECK CONSTRAINT [FK_InvoiceDeliveryTracking_LevelExpression]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceDeliveryTracking', @level2type=N'COLUMN',@level2name=N'InvoiceID'
GO
