USE [EIVO03]
GO
/****** Object:  Table [dbo].[EnterpriseGroupMemberToken]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterpriseGroupMemberToken](
	[EnterpriseID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[X509Certificate] [nvarchar](max) NOT NULL,
	[Thumbprint] [nvarchar](256) NOT NULL,
	[PKCS12] [nvarchar](max) NULL,
	[KeyID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EnterpriseGroupMemberToken] PRIMARY KEY CLUSTERED 
(
	[EnterpriseID] ASC,
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EnterpriseGroupMemberToken]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EnterpriseGroupMemberToken] ON [dbo].[EnterpriseGroupMemberToken]
(
	[Thumbprint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnterpriseGroupMemberToken]  WITH CHECK ADD  CONSTRAINT [FK_EnterpriseGroupMemberToken_EnterpriseGroupMember] FOREIGN KEY([EnterpriseID], [CompanyID])
REFERENCES [dbo].[EnterpriseGroupMember] ([EnterpriseID], [CompanyID])
GO
ALTER TABLE [dbo].[EnterpriseGroupMemberToken] CHECK CONSTRAINT [FK_EnterpriseGroupMemberToken_EnterpriseGroupMember]
GO
