USE [EIVO03]
GO
/****** Object:  Table [dbo].[SMSNotificationQueue]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSNotificationQueue](
	[DocID] [int] NOT NULL,
	[MessageID] [int] NOT NULL,
	[SubmitDate] [datetime] NULL,
 CONSTRAINT [PK_SMSNotificationQueue] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMSNotificationQueue]  WITH CHECK ADD  CONSTRAINT [FK_SMSNotificationQueue_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [dbo].[SMSNotificationQueue] CHECK CONSTRAINT [FK_SMSNotificationQueue_CDS_Document]
GO
ALTER TABLE [dbo].[SMSNotificationQueue]  WITH CHECK ADD  CONSTRAINT [FK_SMSNotificationQueue_MessageType] FOREIGN KEY([MessageID])
REFERENCES [dbo].[MessageType] ([MessageID])
GO
ALTER TABLE [dbo].[SMSNotificationQueue] CHECK CONSTRAINT [FK_SMSNotificationQueue_MessageType]
GO
