USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserMail]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMail](
	[MsgID] [int] NOT NULL,
 CONSTRAINT [PK_UserMail] PRIMARY KEY CLUSTERED 
(
	[MsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserMail]  WITH CHECK ADD  CONSTRAINT [FK_UserMail_UserInbox] FOREIGN KEY([MsgID])
REFERENCES [dbo].[UserInbox] ([MsgID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMail] CHECK CONSTRAINT [FK_UserMail_UserInbox]
GO
