USE [EIVO03]
GO
/****** Object:  Table [dbo].[SystemEvent]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemEvent](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[EventContent] [nvarchar](max) NULL,
	[ReferenceUrl] [xml] NULL,
	[ReferenceTransformer] [nvarchar](max) NULL,
 CONSTRAINT [PK_SystemEvent] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SystemEvent] ADD  CONSTRAINT [DF_SystemEvent_EventDate]  DEFAULT (getdate()) FOR [EventDate]
GO
