USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserProfileProperty]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfileProperty](
	[UID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[Property] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserProfileProperty] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserProfileProperty]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileProperty_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfileProperty] CHECK CONSTRAINT [FK_UserProfileProperty_UserProfile]
GO
