USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePrintQueue]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePrintQueue](
	[InvoiceID] [int] NOT NULL,
	[UID] [int] NULL,
	[SubmitDate] [datetime] NULL,
 CONSTRAINT [PK_InvoicePrintQueue] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePrintQueue] ADD  CONSTRAINT [DF_InvoicePrintQueue_SubmitDate]  DEFAULT (getdate()) FOR [SubmitDate]
GO
ALTER TABLE [dbo].[InvoicePrintQueue]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePrintQueue_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoicePrintQueue] CHECK CONSTRAINT [FK_InvoicePrintQueue_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoicePrintQueue]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePrintQueue_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[InvoicePrintQueue] CHECK CONSTRAINT [FK_InvoicePrintQueue_UserProfile]
GO
