USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceCancellation]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceCancellation](
	[CancellationNo] [nvarchar](16) NULL,
	[CancelDate] [datetime] NULL,
	[CancelReason] [nvarchar](256) NULL,
	[ReturnTaxDocumentNo] [nvarchar](64) NULL,
	[Remark] [nvarchar](256) NULL,
	[InvoiceID] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceCancellation_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceCancellation]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceCancellation_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceCancellation] CHECK CONSTRAINT [FK_InvoiceCancellation_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢發票號碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCancellation', @level2type=N'COLUMN',@level2name=N'CancellationNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCancellation', @level2type=N'COLUMN',@level2name=N'CancelDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'專案作廢核准文號
若發票的作廢時間超過申報期間，則此欄位為必填欄位。若不填寫由上傳營業人自行負責。' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCancellation', @level2type=N'COLUMN',@level2name=N'ReturnTaxDocumentNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢備註
作廢發票時必填，填寫作廢原因' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCancellation', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢發票主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCancellation'
GO
