USE [EIVO03]
GO
/****** Object:  Table [dbo].[EnterpriseGroup]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterpriseGroup](
	[EnterpriseID] [int] IDENTITY(1,1) NOT NULL,
	[EnterpriseName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_EnterpriseGroup] PRIMARY KEY CLUSTERED 
(
	[EnterpriseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
