USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationBranch]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationBranch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](64) NULL,
	[CompanyID] [int] NOT NULL,
	[BranchNo] [nvarchar](32) NULL,
	[Addr] [nvarchar](256) NULL,
	[ContactEmail] [nvarchar](512) NULL,
	[Phone] [nvarchar](64) NULL,
 CONSTRAINT [PK_OrganizationBranch_1] PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationBranch]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationBranch_Organization1] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationBranch] CHECK CONSTRAINT [FK_OrganizationBranch_Organization1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrganizationBranch', @level2type=N'COLUMN',@level2name=N'Addr'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'連絡人電子郵件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrganizationBranch', @level2type=N'COLUMN',@level2name=N'ContactEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrganizationBranch', @level2type=N'COLUMN',@level2name=N'Phone'
GO
