USE [EIVO03]
GO
/****** Object:  Table [dbo].[ReceiptCancellation]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptCancellation](
	[ReceiptID] [int] NOT NULL,
	[CancellationNo] [nvarchar](20) NOT NULL,
	[CancelDate] [datetime] NULL,
	[Remark] [nvarchar](256) NULL,
 CONSTRAINT [PK_ReceiptCancellation] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReceiptCancellation]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptCancellation_ReceiptItem] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[ReceiptItem] ([ReceiptID])
GO
ALTER TABLE [dbo].[ReceiptCancellation] CHECK CONSTRAINT [FK_ReceiptCancellation_ReceiptItem]
GO
