USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAllowanceCancellation]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAllowanceCancellation](
	[AllowanceID] [int] NOT NULL,
	[CancelDate] [datetime] NULL,
	[Remark] [nvarchar](256) NULL,
	[CancelReason] [nvarchar](256) NULL,
 CONSTRAINT [PK_InvoiceAllowanceCancellation] PRIMARY KEY CLUSTERED 
(
	[AllowanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAllowanceCancellation]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceCancellation_InvoiceAllowance] FOREIGN KEY([AllowanceID])
REFERENCES [dbo].[InvoiceAllowance] ([AllowanceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceAllowanceCancellation] CHECK CONSTRAINT [FK_InvoiceAllowanceCancellation_InvoiceAllowance]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowanceCancellation', @level2type=N'COLUMN',@level2name=N'CancelDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢折讓備註
作廢折讓時必填，填寫作廢原因' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowanceCancellation', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'作廢折讓主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowanceCancellation'
GO
