USE [EIVO03]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitKeyName]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[SplitKeyName]
(
	-- Add the parameters for the function here
	@KeyName nvarchar(256)
)
RETURNS nvarchar(256)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @index int

	-- Add the T-SQL statements to compute the return value here
	SELECT @index = CHARINDEX('_',@KeyName)
	
	if @index>=1
		begin
			return SUBSTRING(@KeyName,0,@index)
		end
	return @KeyName
END
GO
