USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceWelfareAgency]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceWelfareAgency](
	[WelfareID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NOT NULL,
	[AgencyID] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_InvoiceWelfareAgency] PRIMARY KEY CLUSTERED 
(
	[WelfareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceWelfareAgency] ADD  CONSTRAINT [DF_InvoiceWelfareAgency_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[InvoiceWelfareAgency]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceWelfareAgency_Organization] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceWelfareAgency] CHECK CONSTRAINT [FK_InvoiceWelfareAgency_Organization]
GO
ALTER TABLE [dbo].[InvoiceWelfareAgency]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceWelfareAgency_WelfareAgency] FOREIGN KEY([AgencyID])
REFERENCES [dbo].[WelfareAgency] ([AgencyID])
GO
ALTER TABLE [dbo].[InvoiceWelfareAgency] CHECK CONSTRAINT [FK_InvoiceWelfareAgency_WelfareAgency]
GO
