USE [EIVO03]
GO
/****** Object:  Table [dbo].[ProductItemCategory]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductItemCategory](
	[PICID] [int] IDENTITY(1,1) NOT NULL,
	[ItemNo] [nchar](50) NOT NULL,
	[ItemName] [nvarchar](1024) NOT NULL,
	[Unit] [nvarchar](16) NOT NULL,
	[UnitePrice] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_ProductItemCategory] PRIMARY KEY CLUSTERED 
(
	[PICID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
