USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationStatus]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationStatus](
	[CompanyID] [int] NOT NULL,
	[CurrentLevel] [int] NULL,
	[LastTimeToAcknowledge] [datetime] NULL,
	[RequestPeriodicalInterval] [int] NULL,
	[SetToPrintInvoice] [bit] NULL,
	[InvoicePrintView] [nvarchar](256) NULL,
	[IronSteelIndustry] [bit] NULL,
	[Entrusting] [bit] NULL,
	[AuthorizationNo] [nvarchar](256) NULL,
	[TokenID] [uniqueidentifier] NULL,
	[SetToOutsourcingCS] [bit] NULL,
	[AllowancePrintView] [nvarchar](256) NULL,
	[SetToNotifyCounterpartBySMS] [bit] NULL,
	[DownloadDataNumber] [bit] NULL,
	[DownloadDispatch] [bit] NULL,
	[UploadBranchTrackBlank] [bit] NULL,
	[PrintAll] [bit] NULL,
	[SettingInvoiceType] [int] NULL,
	[SubscribeB2BInvoicePDF] [bit] NULL,
	[UseB2BStandalone] [bit] NULL,
	[DisableIssuingNotice] [bit] NULL,
	[DisableWinningNotice] [bit] NULL,
	[EntrustToPrint] [bit] NULL,
	[EnableTrackCodeInvoiceNoValidation] [bit] NULL,
	[EnableBuyerIDValidation] [bit] NULL,
	[InvoiceNoticeSetting] [int] NULL,
	[NotificationFooterView] [nvarchar](256) NULL,
	[IgnoreDuplicatedDataNumber] [bit] NULL,
	[InvoiceClientDefaultProcessType] [int] NULL,
	[CustomNotificationView] [nvarchar](256) NULL,
 CONSTRAINT [PK_OrganizationStatus] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationStatus_LevelExpression] FOREIGN KEY([CurrentLevel])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[OrganizationStatus] CHECK CONSTRAINT [FK_OrganizationStatus_LevelExpression]
GO
ALTER TABLE [dbo].[OrganizationStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationStatus_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationStatus] CHECK CONSTRAINT [FK_OrganizationStatus_Organization]
GO
ALTER TABLE [dbo].[OrganizationStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationStatus_UserToken] FOREIGN KEY([TokenID])
REFERENCES [dbo].[UserToken] ([Token])
GO
ALTER TABLE [dbo].[OrganizationStatus] CHECK CONSTRAINT [FK_OrganizationStatus_UserToken]
GO
