USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationCategory]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationCategory](
	[OrgaCateID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
 CONSTRAINT [PK_OrganizationCategory] PRIMARY KEY CLUSTERED 
(
	[OrgaCateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_OrganizationCategory] UNIQUE NONCLUSTERED 
(
	[CompanyID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationCategory]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationCategory_CategoryDefinition] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryDefinition] ([CategoryID])
GO
ALTER TABLE [dbo].[OrganizationCategory] CHECK CONSTRAINT [FK_OrganizationCategory_CategoryDefinition]
GO
ALTER TABLE [dbo].[OrganizationCategory]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationCategory_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationCategory] CHECK CONSTRAINT [FK_OrganizationCategory_Organization]
GO
