USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserMenu]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenu](
	[RoleID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[MenuID] [int] NOT NULL,
 CONSTRAINT [PK_UserMenu] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[CategoryID] ASC,
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_UserMenu_CategoryDefinition] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryDefinition] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_UserMenu_CategoryDefinition]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_UserMenu_MenuControl] FOREIGN KEY([MenuID])
REFERENCES [dbo].[MenuControl] ([MenuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_UserMenu_MenuControl]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_UserMenu_UserRoleDefinition] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoleDefinition] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_UserMenu_UserRoleDefinition]
GO
