USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceSeller]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceSeller](
	[InvoiceID] [int] NOT NULL,
	[ReceiptNo] [nvarchar](10) NULL,
	[PostCode] [nvarchar](8) NULL,
	[Address] [nvarchar](128) NULL,
	[Name] [nvarchar](128) NULL,
	[SellerID] [int] NULL,
	[CustomerID] [nvarchar](64) NULL,
	[ContactName] [nvarchar](64) NULL,
	[Phone] [nvarchar](64) NULL,
	[EMail] [nvarchar](512) NULL,
	[CustomerName] [nvarchar](64) NULL,
	[Fax] [nvarchar](64) NULL,
	[PersonInCharge] [nvarchar](64) NULL,
	[RoleRemark] [nvarchar](64) NULL,
 CONSTRAINT [PK_InvoiceSeller] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceSeller]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceSeller_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceSeller] CHECK CONSTRAINT [FK_InvoiceSeller_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoiceSeller]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceSeller_Organization] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceSeller] CHECK CONSTRAINT [FK_InvoiceSeller_Organization]
GO
