USE [EIVO03]
GO
/****** Object:  Table [dbo].[ReplicationNotification]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplicationNotification](
	[DocID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_ReplicationNotification] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReplicationNotification]  WITH CHECK ADD  CONSTRAINT [FK_ReplicationNotification_DocumentReplication] FOREIGN KEY([DocID], [TypeID])
REFERENCES [dbo].[DocumentReplication] ([DocID], [TypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReplicationNotification] CHECK CONSTRAINT [FK_ReplicationNotification_DocumentReplication]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料異動待回應檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ReplicationNotification'
GO
