USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[InquireVacantNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InquireVacantNo]
	( 
		@SellerID	int,
		@Year		int,
		@PeriodNo	int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT        VacantInvoiceNo.InvoiceNo, InvoiceTrackCode.Year, InvoiceTrackCode.PeriodNo, InvoiceTrackCode.TrackCode, InvoiceNoInterval.StartNo, InvoiceNoInterval.EndNo, InvoiceNoInterval.TrackID, InvoiceNoInterval.SellerID, 
                         VacantInvoiceNo.NextID AS CheckNext, VacantInvoiceNo.PrevID AS CheckPrev, InvoiceTrackCode.InvoiceType
	FROM            VacantInvoiceNo INNER JOIN
							 InvoiceNoInterval ON VacantInvoiceNo.IntervalID = InvoiceNoInterval.IntervalID INNER JOIN
							 InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
							 InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID
	WHERE        (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo) AND (InvoiceNoInterval.SellerID = @SellerID) AND (VacantInvoiceNo.NextID IS NULL) OR
							 (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo) AND (InvoiceNoInterval.SellerID = @SellerID) AND (VacantInvoiceNo.PrevID IS NULL)
	ORDER BY VacantInvoiceNo.IntervalID, VacantInvoiceNo.InvoiceNo

END



GO
