USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceBusiness]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceBusiness](
	[SellerID] [int] NOT NULL,
	[BuyerReceiptNo] [nvarchar](10) NOT NULL,
	[BuyerID] [int] NULL,
	[PostCode] [nvarchar](8) NULL,
	[Address] [nvarchar](128) NULL,
	[Name] [nvarchar](128) NULL,
	[CustomerID] [nvarchar](64) NULL,
	[ContactName] [nvarchar](64) NULL,
	[Phone] [nvarchar](64) NULL,
	[EMail] [nvarchar](512) NULL,
	[CustomerName] [nvarchar](64) NULL,
	[Fax] [nvarchar](64) NULL,
	[PersonInCharge] [nvarchar](64) NULL,
	[RoleRemark] [nvarchar](64) NULL,
 CONSTRAINT [PK_InvoiceBusiness] PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC,
	[BuyerReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceBusiness]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceBusiness_Organization] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceBusiness] CHECK CONSTRAINT [FK_InvoiceBusiness_Organization]
GO
ALTER TABLE [dbo].[InvoiceBusiness]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceBusiness_Organization1] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceBusiness] CHECK CONSTRAINT [FK_InvoiceBusiness_Organization1]
GO
