USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserInbox]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInbox](
	[MsgID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[OrgaCateID] [int] NOT NULL,
	[DataSource] [xml] NULL,
	[MessageID] [int] NOT NULL,
	[MsgDate] [datetime] NOT NULL,
	[Sender] [int] NULL,
	[EventID] [int] NULL,
	[DocID] [int] NULL,
 CONSTRAINT [PK_UserInbox] PRIMARY KEY CLUSTERED 
(
	[MsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_UserInbox]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserInbox] ON [dbo].[UserInbox]
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserInbox_1]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserInbox_1] ON [dbo].[UserInbox]
(
	[OrgaCateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserInbox_2]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserInbox_2] ON [dbo].[UserInbox]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserInbox] ADD  CONSTRAINT [DF_UserInbox_MsgDate]  DEFAULT (getdate()) FOR [MsgDate]
GO
ALTER TABLE [dbo].[UserInbox]  WITH CHECK ADD  CONSTRAINT [FK_UserInbox_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInbox] CHECK CONSTRAINT [FK_UserInbox_CDS_Document]
GO
ALTER TABLE [dbo].[UserInbox]  WITH CHECK ADD  CONSTRAINT [FK_UserInbox_MessageType] FOREIGN KEY([MessageID])
REFERENCES [dbo].[MessageType] ([MessageID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInbox] CHECK CONSTRAINT [FK_UserInbox_MessageType]
GO
ALTER TABLE [dbo].[UserInbox]  WITH CHECK ADD  CONSTRAINT [FK_UserInbox_OrganizationCategory] FOREIGN KEY([OrgaCateID])
REFERENCES [dbo].[OrganizationCategory] ([OrgaCateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInbox] CHECK CONSTRAINT [FK_UserInbox_OrganizationCategory]
GO
ALTER TABLE [dbo].[UserInbox]  WITH CHECK ADD  CONSTRAINT [FK_UserInbox_SystemEvent] FOREIGN KEY([EventID])
REFERENCES [dbo].[SystemEvent] ([EventID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInbox] CHECK CONSTRAINT [FK_UserInbox_SystemEvent]
GO
ALTER TABLE [dbo].[UserInbox]  WITH CHECK ADD  CONSTRAINT [FK_UserInbox_UserProfile] FOREIGN KEY([Sender])
REFERENCES [dbo].[UserProfile] ([UID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInbox] CHECK CONSTRAINT [FK_UserInbox_UserProfile]
GO
ALTER TABLE [dbo].[UserInbox]  WITH CHECK ADD  CONSTRAINT [FK_UserInbox_UserRoleDefinition] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoleDefinition] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInbox] CHECK CONSTRAINT [FK_UserInbox_UserRoleDefinition]
GO
