USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceMailTracking]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceMailTracking](
	[MailID] [int] IDENTITY(1,1) NOT NULL,
	[TrackingNo1] [nvarchar](16) NULL,
	[TrackingNo2] [nvarchar](16) NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[DeliveryStatus] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceMailTracking] PRIMARY KEY CLUSTERED 
(
	[MailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceMailTracking]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceMailTracking_LevelExpression] FOREIGN KEY([DeliveryStatus])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[InvoiceMailTracking] CHECK CONSTRAINT [FK_InvoiceMailTracking_LevelExpression]
GO
