USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[MatchDocumentAttachment]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MatchDocumentAttachment]
AS
BEGIN

	declare @KeyTable table
	(
		[KeyName] [nvarchar](256) NULL,
		[NameIndex] [nvarchar](256) NULL,
		[TrackCode] [nvarchar](2) NULL,
		[No] [nvarchar](256) NULL
	)
	
	insert into @KeyTable (KeyName,NameIndex)
	select KeyName,dbo.SplitKeyName(KeyName) 
	from Attachment
	where DocID is Null
	
	update @KeyTable set TrackCode=SUBSTRING(NameIndex,1,2),No=SUBSTRING(NameIndex,3,LEN(NameIndex)-2)

	UPDATE Attachment
	SET        DocID = InvoiceItem.InvoiceID
	FROM     Attachment INNER JOIN @KeyTable k
				on Attachment.KeyName = k.KeyName
			Inner join InvoiceItem 
				ON InvoiceItem.TrackCode = k.TrackCode and InvoiceItem.No = k.No
	WHERE   (Attachment.DocID IS NULL)
	
	UPDATE Attachment
	SET        DocID = InvoiceAllowance.AllowanceID
	FROM     Attachment INNER JOIN @KeyTable k
				on Attachment.KeyName = k.KeyName
			Inner join 
				   InvoiceAllowance ON InvoiceAllowance.AllowanceNumber = k.NameIndex
	WHERE   (Attachment.DocID IS NULL)
	
	UPDATE Attachment
	SET        DocID = ReceiptItem.ReceiptID
	FROM     Attachment INNER JOIN @KeyTable k
				on Attachment.KeyName = k.KeyName
			Inner join 
				   ReceiptItem ON ReceiptItem.No = k.NameIndex
	WHERE   (Attachment.DocID IS NULL)

END
GO
