USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePrintAssertion]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePrintAssertion](
	[InvoiceID] [int] NOT NULL,
	[PrintDate] [datetime] NULL,
 CONSTRAINT [PK_InvoicePrintAssertion] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePrintAssertion]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePrintAssertion_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoicePrintAssertion] CHECK CONSTRAINT [FK_InvoicePrintAssertion_InvoiceItem]
GO
