USE [EIVO03]
GO
/****** Object:  Table [dbo].[VacantInvoiceNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacantInvoiceNo](
	[VacancyID] [int] IDENTITY(1,1) NOT NULL,
	[IntervalID] [int] NOT NULL,
	[InvoiceNo] [int] NOT NULL,
	[PrevID] [int] NULL,
	[NextID] [int] NULL,
 CONSTRAINT [PK_VacantInvoiceNo] PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_VacantInvoiceNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_VacantInvoiceNo] ON [dbo].[VacantInvoiceNo]
(
	[IntervalID] ASC,
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VacantInvoiceNo_NextID]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_VacantInvoiceNo_NextID] ON [dbo].[VacantInvoiceNo]
(
	[NextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VacantInvoiceNo_PrevID]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_VacantInvoiceNo_PrevID] ON [dbo].[VacantInvoiceNo]
(
	[PrevID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VacantInvoiceNo]  WITH CHECK ADD  CONSTRAINT [FK_VacantInvoiceNo_InvoiceNoInterval] FOREIGN KEY([IntervalID])
REFERENCES [dbo].[InvoiceNoInterval] ([IntervalID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacantInvoiceNo] CHECK CONSTRAINT [FK_VacantInvoiceNo_InvoiceNoInterval]
GO
ALTER TABLE [dbo].[VacantInvoiceNo]  WITH CHECK ADD  CONSTRAINT [FK_VacantInvoiceNo_VacantInvoiceNo] FOREIGN KEY([PrevID])
REFERENCES [dbo].[VacantInvoiceNo] ([VacancyID])
GO
ALTER TABLE [dbo].[VacantInvoiceNo] CHECK CONSTRAINT [FK_VacantInvoiceNo_VacantInvoiceNo]
GO
ALTER TABLE [dbo].[VacantInvoiceNo]  WITH CHECK ADD  CONSTRAINT [FK_VacantInvoiceNo_VacantInvoiceNo1] FOREIGN KEY([NextID])
REFERENCES [dbo].[VacantInvoiceNo] ([VacancyID])
GO
ALTER TABLE [dbo].[VacantInvoiceNo] CHECK CONSTRAINT [FK_VacantInvoiceNo_VacantInvoiceNo1]
GO
