USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentSubscriptionQueue]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentSubscriptionQueue](
	[DocID] [int] NOT NULL,
	[Status] [int] NULL,
	[WaitUntil] [datetime] NULL,
 CONSTRAINT [PK_DocumentSubscriptionQueue] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DocumentSubscriptionQueue]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_DocumentSubscriptionQueue] ON [dbo].[DocumentSubscriptionQueue]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentSubscriptionQueue]  WITH CHECK ADD  CONSTRAINT [FK_DocumentSubscriptionQueue_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentSubscriptionQueue] CHECK CONSTRAINT [FK_DocumentSubscriptionQueue_CDS_Document]
GO
