USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAmountType]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAmountType](
	[InvoiceID] [int] NOT NULL,
	[TaxType] [tinyint] NULL,
	[SalesAmount] [decimal](18, 5) NULL,
	[TaxAmount] [decimal](18, 5) NULL,
	[TaxRate] [decimal](18, 5) NULL,
	[TotalAmount] [decimal](18, 5) NULL,
	[TotalAmountInChinese] [nvarchar](32) NULL,
	[DiscountAmount] [decimal](18, 5) NULL,
	[Adjustment] [decimal](18, 5) NULL,
	[OriginalCurrencyAmount] [decimal](18, 5) NULL,
	[ExchangeRate] [decimal](18, 5) NULL,
	[CurrencyID] [int] NULL,
	[FreeTaxSalesAmount] [decimal](18, 5) NULL,
	[ZeroTaxSalesAmount] [decimal](18, 5) NULL,
	[BondedAreaConfirm] [tinyint] NULL,
	[ZeroTaxRateReason] [nvarchar](4) NULL,
 CONSTRAINT [PK_InvoiceAmountType] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceAmountType]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceAmountType] ON [dbo].[InvoiceAmountType]
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAmountType]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAmountType_CurrencyType] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[CurrencyType] ([CurrencyID])
GO
ALTER TABLE [dbo].[InvoiceAmountType] CHECK CONSTRAINT [FK_InvoiceAmountType_CurrencyType]
GO
ALTER TABLE [dbo].[InvoiceAmountType]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAmountType_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceAmountType] CHECK CONSTRAINT [FK_InvoiceAmountType_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'課稅別
1：應稅
2：零稅率
3：免稅
9：混合應稅與免稅或零稅率 (限收銀機發票無法分辨時使用)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'TaxType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'應稅銷售額合計(新台幣)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'SalesAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'營業稅額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'TaxAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'稅率' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'TaxRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'總計
整數
(應稅銷售額合計+免稅銷售額合計+零稅率銷售額合計+營業稅額=此總計欄位) ，可為負數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'TotalAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'中文國字大寫金額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'TotalAmountInChinese'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扣抵金額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'DiscountAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角分調整' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'Adjustment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'原幣金額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'OriginalCurrencyAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'匯率' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'ExchangeRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'FreeTaxSalesAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType', @level2type=N'COLUMN',@level2name=N'ZeroTaxSalesAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票消售金額明細檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAmountType'
GO
