USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[ProcessInvoiceNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcessInvoiceNo]
	( 
		@SellerID	int,
		@Year		int,
		@PeriodNo	int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @theYear	DateTime
	set @theYear = DATEFROMPARTS(@Year,1,1)
	declare @startDate	DateTime = DATEADD(MONTH,@PeriodNo*2-2,@theYear)
	declare @endDate	DateTime = DATEADD(MONTH,@PeriodNo*2,@theYear)
	--select @theYear,@startDate,@endDate

	INSERT INTO InvoiceNoAssignment
					(InvoiceID, IntervalID, InvoiceNo)
	SELECT  i.InvoiceID, s.IntervalID,i.No
	FROM     InvoiceItem AS i INNER JOIN
						(SELECT  InvoiceTrackCode.TrackCode, InvoiceTrackCodeAssignment.SellerID, InvoiceNoInterval.StartNo, InvoiceNoInterval.EndNo, 
										InvoiceNoInterval.IntervalID
						FROM     InvoiceTrackCode INNER JOIN
										InvoiceTrackCodeAssignment ON InvoiceTrackCode.TrackID = InvoiceTrackCodeAssignment.TrackID INNER JOIN
										InvoiceNoInterval ON InvoiceTrackCodeAssignment.TrackID = InvoiceNoInterval.TrackID AND 
										InvoiceTrackCodeAssignment.SellerID = InvoiceNoInterval.SellerID
						WHERE   (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo)) AS s ON i.SellerID = s.SellerID AND i.TrackCode = s.TrackCode AND 
					i.No >= s.StartNo AND i.No <= s.EndNo
	WHERE   (i.InvoiceDate >= @startDate) AND (i.InvoiceDate < @endDate) AND (i.SellerID = @SellerID)
	and InvoiceID not in (select InvoiceID from InvoiceNoAssignment)

	UPDATE VacantInvoiceNo
	SET        PrevID = NULL, NextID = NULL
	FROM     VacantInvoiceNo INNER JOIN
				   InvoiceNoInterval ON VacantInvoiceNo.IntervalID = InvoiceNoInterval.IntervalID INNER JOIN
				   InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND 
				   InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
				   InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID
	WHERE   (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo) AND (InvoiceTrackCodeAssignment.SellerID = @SellerID)

	DELETE FROM VacantInvoiceNo
	FROM     VacantInvoiceNo INNER JOIN
				   InvoiceNoInterval ON VacantInvoiceNo.IntervalID = InvoiceNoInterval.IntervalID INNER JOIN
				   InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND 
				   InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
				   InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID
	WHERE   (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo) AND (InvoiceTrackCodeAssignment.SellerID = @SellerID)

	declare @TotalRows int
	SELECT @TotalRows = ISNull(sum(InvoiceNoInterval.EndNo-InvoiceNoInterval.StartNo+1),0)
	FROM     InvoiceNoInterval INNER JOIN
				   InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND 
				   InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
				   InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID 
	WHERE   (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo) AND (InvoiceTrackCodeAssignment.SellerID = @SellerID)

	;
	with v as (
		select * from (
	SELECT /*TOP (@TotalRows)*/ InvoiceNoInterval.IntervalID, ROW_NUMBER() over (partition by IntervalID order by IntervalID ) + StartNo-1 as InvoiceNo,
		 InvoiceNoInterval.StartNo, InvoiceNoInterval.EndNo
	FROM     InvoiceNoInterval INNER JOIN
				   InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND 
				   InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
				   InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID CROSS JOIN
				   sys.objects a CROSS JOIN sys.objects b
	WHERE   (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo) AND (InvoiceTrackCodeAssignment.SellerID = @SellerID)
	) t where InvoiceNo<=EndNo
	)
	INSERT INTO VacantInvoiceNo
				   (IntervalID, InvoiceNo)
	select IntervalID,InvoiceNo from v
	where Not Exists (select null from InvoiceNoAssignment where IntervalID=v.IntervalID and InvoiceNo=v.InvoiceNo)

	--DELETE FROM VacantInvoiceNo
	--FROM     VacantInvoiceNo INNER JOIN
	--			   InvoiceNoAssignment ON VacantInvoiceNo.IntervalID = InvoiceNoAssignment.IntervalID AND 
	--			   VacantInvoiceNo.InvoiceNo = InvoiceNoAssignment.InvoiceNo

	UPDATE       VacantInvoiceNo
	SET                NextID = v2.VacancyID
	FROM            VacantInvoiceNo INNER JOIN
							 VacantInvoiceNo AS v2 ON VacantInvoiceNo.IntervalID = v2.IntervalID AND VacantInvoiceNo.InvoiceNo + 1 = v2.InvoiceNo INNER JOIN
							 InvoiceNoInterval ON VacantInvoiceNo.IntervalID = InvoiceNoInterval.IntervalID INNER JOIN
							 InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
							 InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID
	WHERE        (InvoiceTrackCodeAssignment.SellerID = @SellerID) AND (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo)

	UPDATE VacantInvoiceNo
	SET        PrevID = v2.VacancyID
	FROM     VacantInvoiceNo INNER JOIN
					VacantInvoiceNo AS v2 ON VacantInvoiceNo.IntervalID = v2.IntervalID AND VacantInvoiceNo.InvoiceNo - 1 = v2.InvoiceNo INNER JOIN
							InvoiceNoInterval ON VacantInvoiceNo.IntervalID = InvoiceNoInterval.IntervalID INNER JOIN
							InvoiceTrackCodeAssignment ON InvoiceNoInterval.TrackID = InvoiceTrackCodeAssignment.TrackID AND InvoiceNoInterval.SellerID = InvoiceTrackCodeAssignment.SellerID INNER JOIN
							InvoiceTrackCode ON InvoiceTrackCodeAssignment.TrackID = InvoiceTrackCode.TrackID
	WHERE        (InvoiceTrackCodeAssignment.SellerID = @SellerID) AND (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo)

	
	
END

GO
