USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceNoSegment]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNoSegment](
	[SegmentID] [int] NOT NULL,
	[DeviceName] [nvarchar](64) NULL,
 CONSTRAINT [PK_InvoiceNoSegment] PRIMARY KEY CLUSTERED 
(
	[SegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceNoSegment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoSegment_InvoiceNoInterval] FOREIGN KEY([SegmentID])
REFERENCES [dbo].[InvoiceNoInterval] ([IntervalID])
GO
ALTER TABLE [dbo].[InvoiceNoSegment] CHECK CONSTRAINT [FK_InvoiceNoSegment_InvoiceNoInterval]
GO
