USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItem](
	[InvoiceID] [int] NOT NULL,
	[No] [nvarchar](16) NULL,
	[InvoiceDate] [datetime] NULL,
	[CheckNo] [nvarchar](10) NULL,
	[Remark] [nvarchar](2048) NULL,
	[BuyerRemark] [tinyint] NULL,
	[CustomsClearanceMark] [tinyint] NULL,
	[TaxCenter] [nvarchar](40) NULL,
	[PermitDate] [datetime] NULL,
	[PermitWord] [nvarchar](40) NULL,
	[PermitNumber] [nvarchar](20) NULL,
	[Category] [nvarchar](2) NULL,
	[RelateNumber] [nvarchar](20) NULL,
	[InvoiceType] [tinyint] NULL,
	[GroupMark] [nvarchar](2) NULL,
	[DonateMark] [nvarchar](1) NULL,
	[SellerID] [int] NULL,
	[DonationID] [int] NULL,
	[RandomNo] [nvarchar](10) NULL,
	[TrackCode] [nvarchar](8) NULL,
	[BondedAreaConfirm] [tinyint] NULL,
	[PrintMark] [nvarchar](1) NULL,
	[ProcessType] [int] NULL,
	[TrackID] [int] NULL,
 CONSTRAINT [PK_InvoiceItem] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceItem_1]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItem_1] ON [dbo].[InvoiceItem]
(
	[InvoiceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceItem_No]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItem_No] ON [dbo].[InvoiceItem]
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceItem_TrackCode]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceItem_TrackCode] ON [dbo].[InvoiceItem]
(
	[TrackCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceItem_TrackCodeNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InvoiceItem_TrackCodeNo] ON [dbo].[InvoiceItem]
(
	[No] ASC,
	[TrackCode] ASC,
	[TrackID] ASC
)
WHERE [TrackID] IS NOT NULL
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItem_CDS_Document] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_InvoiceItem_CDS_Document]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItem_InvoiceTrackCode] FOREIGN KEY([TrackID])
REFERENCES [dbo].[InvoiceTrackCode] ([TrackID])
ON UPDATE SET NULL
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_InvoiceItem_InvoiceTrackCode]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItem_Organization] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_InvoiceItem_Organization]
GO
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItem_Organization1] FOREIGN KEY([DonationID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_InvoiceItem_Organization1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'InvoiceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票號碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'No'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'InvoiceDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票檢查碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'CheckNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'總備註' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買受人註記欄
1：得抵扣之進貨及費用；
2：得抵扣之固定資產；
3：不得抵扣之進貨及費用；
4：不得抵扣之固定資產
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'BuyerRemark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通關方式註記
1：非經海關出口;
2：經海關出口(零稅率時，為必要欄位)
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'CustomsClearanceMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'稅捐稽徵處名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'TaxCenter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'核准日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'PermitDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'核准文' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'PermitWord'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'核准號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'PermitNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'沖帳別' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'Category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'相關號碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'RelateNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票類別
1: 三聯式;
2: 二聯式;
3: 二聯式收銀機;
4. 特種稅額;
5: 電子計算機;
6: 三聯式收銀機
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'InvoiceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'彙開註記
以”*”表示 彙開' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'GroupMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'捐贈註記
以”0”表示 非捐贈發票
以”1”表示 為捐贈發票
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'DonateMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票防偽隨機碼
前端隨機產生' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem', @level2type=N'COLUMN',@level2name=N'RandomNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'電子發票主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItem'
GO
