USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePrizeWinningNumbers]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePrizeWinningNumbers](
	[BNID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[StartMonth] [int] NOT NULL,
	[EndMonth] [int] NOT NULL,
	[SpecialPrize] [nvarchar](50) NULL,
	[GrandPrize] [nvarchar](50) NULL,
	[FirstPrize] [nvarchar](50) NOT NULL,
	[AdditionalSixthPrize] [nvarchar](50) NULL,
	[Memo] [nvarchar](250) NULL,
 CONSTRAINT [PK_InvoicePrizeWinningNumbers] PRIMARY KEY CLUSTERED 
(
	[BNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
