USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceCarrier]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceCarrier](
	[InvoiceID] [int] NOT NULL,
	[CarrierType] [nvarchar](16) NOT NULL,
	[CarrierNo] [nvarchar](64) NULL,
	[CarrierNo2] [nvarchar](64) NULL,
 CONSTRAINT [PK_InvoiceCarrier] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceCarrier]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceCarrier_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceCarrier] CHECK CONSTRAINT [FK_InvoiceCarrier_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCarrier', @level2type=N'COLUMN',@level2name=N'InvoiceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'載具類別
1：悠遊卡
2：UXB2B條碼卡' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCarrier', @level2type=N'COLUMN',@level2name=N'CarrierType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'載具卡號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCarrier', @level2type=N'COLUMN',@level2name=N'CarrierNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'註記提示發票載具' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceCarrier'
GO
