USE [EIVO03]
GO
/****** Object:  Table [dbo].[AuthorizeToVoid]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizeToVoid](
	[InvoiceID] [int] NOT NULL,
	[VoidMode] [int] NULL,
 CONSTRAINT [PK_AuthorizeToVoid] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorizeToVoid]  WITH CHECK ADD  CONSTRAINT [FK_AuthorizeToVoid_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorizeToVoid] CHECK CONSTRAINT [FK_AuthorizeToVoid_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AuthorizeToVoid', @level2type=N'COLUMN',@level2name=N'InvoiceID'
GO
