USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationExtension]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationExtension](
	[CompanyID] [int] NOT NULL,
	[CustomerNo] [nvarchar](16) NULL,
	[TaxNo] [nvarchar](16) NULL,
	[CustomNotification] [nvarchar](max) NULL,
	[BusinessContactPhone] [nvarchar](64) NULL,
	[ExpirationDate] [datetime] NULL,
	[GoLiveDate] [datetime] NULL,
	[AutoBlankTrack] [bit] NULL,
	[AutoBlankTrackEmittance] [bit] NULL,
	[CreationDate] [datetime] NULL,
	[InvoiceNoSafetyStock] [int] NULL,
	[MailSubjectAlias] [nvarchar](64) NULL,
	[AutoTrackCodeAssignment] [bit] NULL,
	[AutoPartsTrackCodeAssignment] [bit] NULL,
	[ReservedBooklets] [int] NULL,
	[AuthorizationNotBefore] [datetime] NULL,
	[AuthorizationNotAfter] [datetime] NULL,
	[InvoiceRequestNotBefore] [datetime] NULL,
	[InvoiceRequestNotAfter] [datetime] NULL,
 CONSTRAINT [PK_OrganizationExtension] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationExtension]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationExtension] ON [dbo].[OrganizationExtension]
(
	[ExpirationDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationExtension]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationExtension_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationExtension] CHECK CONSTRAINT [FK_OrganizationExtension_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrganizationExtension', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
