USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentOwner]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentOwner](
	[DocID] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
	[ClientID] [nvarchar](64) NULL,
 CONSTRAINT [PK_DocumentOwner] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentOwner]  WITH CHECK ADD  CONSTRAINT [FK_DocumentOwner_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentOwner] CHECK CONSTRAINT [FK_DocumentOwner_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentOwner]  WITH CHECK ADD  CONSTRAINT [FK_DocumentOwner_Organization] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentOwner] CHECK CONSTRAINT [FK_DocumentOwner_Organization]
GO
