USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePurchaseOrderAudit]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePurchaseOrderAudit](
	[SellerID] [int] NOT NULL,
	[OrderNo] [nvarchar](64) NOT NULL,
	[InvoiceID] [int] NULL,
 CONSTRAINT [PK_InvoicePurchaseOrderAudit] PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC,
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePurchaseOrderAudit]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePurchaseOrderAudit_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoicePurchaseOrderAudit] CHECK CONSTRAINT [FK_InvoicePurchaseOrderAudit_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoicePurchaseOrderAudit]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePurchaseOrderAudit_Organization] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoicePurchaseOrderAudit] CHECK CONSTRAINT [FK_InvoicePurchaseOrderAudit_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoicePurchaseOrderAudit', @level2type=N'COLUMN',@level2name=N'InvoiceID'
GO
