USE [EIVO03]
GO
/****** Object:  Table [dbo].[SMSNotificationLog]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMSNotificationLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[DocID] [int] NULL,
	[MessageID] [int] NOT NULL,
	[SubmitDate] [datetime] NULL,
	[OwnerID] [int] NULL,
	[SendingMobil] [nvarchar](max) NULL,
	[SendingContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_SMSNotificationLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[SMSNotificationLog]  WITH CHECK ADD  CONSTRAINT [FK_SMSNotificationLog_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [dbo].[SMSNotificationLog] CHECK CONSTRAINT [FK_SMSNotificationLog_CDS_Document]
GO
ALTER TABLE [dbo].[SMSNotificationLog]  WITH CHECK ADD  CONSTRAINT [FK_SMSNotificationLog_MessageType] FOREIGN KEY([MessageID])
REFERENCES [dbo].[MessageType] ([MessageID])
GO
ALTER TABLE [dbo].[SMSNotificationLog] CHECK CONSTRAINT [FK_SMSNotificationLog_MessageType]
GO
ALTER TABLE [dbo].[SMSNotificationLog]  WITH CHECK ADD  CONSTRAINT [FK_SMSNotificationLog_Organization] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[SMSNotificationLog] CHECK CONSTRAINT [FK_SMSNotificationLog_Organization]
GO
