USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentReturn]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentReturn](
	[DocID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[ActionDate] [datetime] NULL,
 CONSTRAINT [PK_DocumentReturn] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentReturn]  WITH CHECK ADD  CONSTRAINT [FK_DocumentReturn_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [dbo].[DocumentReturn] CHECK CONSTRAINT [FK_DocumentReturn_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentReturn]  WITH CHECK ADD  CONSTRAINT [FK_DocumentReturn_DocumentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[DocumentType] ([TypeID])
GO
ALTER TABLE [dbo].[DocumentReturn] CHECK CONSTRAINT [FK_DocumentReturn_DocumentType]
GO
