USE [EIVO03]
GO
/****** Object:  Table [dbo].[ExceptionReplication]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionReplication](
	[LogID] [int] NOT NULL,
 CONSTRAINT [PK_ExceptionReplication] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExceptionReplication]  WITH CHECK ADD  CONSTRAINT [FK_ExceptionReplication_ExceptionLog] FOREIGN KEY([LogID])
REFERENCES [dbo].[ExceptionLog] ([LogID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExceptionReplication] CHECK CONSTRAINT [FK_ExceptionReplication_ExceptionLog]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'異常記錄待回應檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ExceptionReplication'
GO
