USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceTrackCode]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTrackCode](
	[TrackID] [int] IDENTITY(1,1) NOT NULL,
	[TrackCode] [nvarchar](2) NOT NULL,
	[Year] [smallint] NOT NULL,
	[PeriodNo] [smallint] NOT NULL,
	[InvoiceType] [tinyint] NULL,
	[PeriodID] [int] NULL,
 CONSTRAINT [PK_InvoiceTrackCode] PRIMARY KEY CLUSTERED 
(
	[TrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceTrackCode]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InvoiceTrackCode] ON [dbo].[InvoiceTrackCode]
(
	[PeriodNo] ASC,
	[TrackCode] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceTrackCode]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceTrackCode_InvoicePeriod] FOREIGN KEY([PeriodID])
REFERENCES [dbo].[InvoicePeriod] ([PeriodID])
GO
ALTER TABLE [dbo].[InvoiceTrackCode] CHECK CONSTRAINT [FK_InvoiceTrackCode_InvoicePeriod]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票類別
1: 三聯式;
2: 二聯式;
3: 二聯式收銀機;
4. 特種稅額;
5: 電子計算機;
6: 三聯式收銀機
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceTrackCode', @level2type=N'COLUMN',@level2name=N'InvoiceType'
GO
