USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceTrackCodeAssignment]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTrackCodeAssignment](
	[TrackID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[AssignmentID] [int] NULL,
 CONSTRAINT [PK_InvoiceTrackCodeAssignment] PRIMARY KEY CLUSTERED 
(
	[TrackID] ASC,
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceTrackCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceTrackCodeAssignment_InvoiceNoMainAssignment] FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[InvoiceNoMainAssignment] ([AssignmentID])
GO
ALTER TABLE [dbo].[InvoiceTrackCodeAssignment] CHECK CONSTRAINT [FK_InvoiceTrackCodeAssignment_InvoiceNoMainAssignment]
GO
ALTER TABLE [dbo].[InvoiceTrackCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceTrackCodeAssignment_InvoiceTrackCode] FOREIGN KEY([TrackID])
REFERENCES [dbo].[InvoiceTrackCode] ([TrackID])
GO
ALTER TABLE [dbo].[InvoiceTrackCodeAssignment] CHECK CONSTRAINT [FK_InvoiceTrackCodeAssignment_InvoiceTrackCode]
GO
ALTER TABLE [dbo].[InvoiceTrackCodeAssignment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceTrackCodeAssignment_Organization] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceTrackCodeAssignment] CHECK CONSTRAINT [FK_InvoiceTrackCodeAssignment_Organization]
GO
