USE [EIVO03]
GO
/****** Object:  Table [dbo].[VoidInvoiceRequest]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoidInvoiceRequest](
	[DocID] [int] NOT NULL,
	[VoidDate] [datetime] NOT NULL,
	[Reason] [nvarchar](64) NULL,
	[RequestType] [int] NULL,
	[InvoiceContent] [nvarchar](max) NULL,
	[CommitDate] [datetime] NULL,
	[ReviseContent] [nvarchar](max) NULL,
	[InvoiceNo] [nvarchar](16) NULL,
 CONSTRAINT [PK_VoidInvoiceRequest] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VoidInvoiceRequest]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_VoidInvoiceRequest] ON [dbo].[VoidInvoiceRequest]
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VoidInvoiceRequest]  WITH CHECK ADD  CONSTRAINT [FK_VoidInvoiceRequest_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VoidInvoiceRequest] CHECK CONSTRAINT [FK_VoidInvoiceRequest_CDS_Document]
GO
