USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[GetAllowanceReport]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllowanceReport]
	( 
		@SellerID	int,
		@StartDate	datetime,
		@EndDate		datetime  
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  CurrencyType.CurrencyID
       ,CurrencyType.CurrencyName
       ,CurrencyType.AbbrevName
       ,v.SellerID
       ,v.TotalAmount
       ,v.TotalTaxAmount
       ,v.RecordCount
       ,v.TrackCode
       ,m.StartNo
       ,x.EndNo
	   ,v.Year
	   ,v.Month
	   ,v.PeriodNo
	   ,t.PeriodID
FROM CurrencyType
INNER JOIN 
(
	SELECT  SellerID
	       ,TrackCode
	       ,CurrencyID
	       ,SUM(TotalAmount + TaxAmount) AS TotalAmount
	       ,SUM(TaxAmount)               AS TotalTaxAmount
	       ,COUNT(*)                     AS RecordCount
	       ,Year
	       ,PeriodNo
		   ,Month
	FROM 
	(
		SELECT  InvoiceAllowanceSeller.SellerID
		       ,InvoiceAllowance.CurrencyID
		       ,InvoiceAllowance.TotalAmount
		       ,InvoiceAllowance.TaxAmount
		       ,a.InvoiceNo
		       ,LEFT(a.InvoiceNo,2) AS TrackCode
		       ,a.Year
		       ,a.PeriodNo
			   ,a.Month
		FROM InvoiceAllowance
		INNER JOIN InvoiceAllowanceSeller
		ON InvoiceAllowance.AllowanceID = InvoiceAllowanceSeller.AllowanceID
		INNER JOIN 
		(
			SELECT  s_1.AllowanceID
			       ,s_1.ItemID
			       ,InvoiceAllowanceItem.InvoiceNo
			       ,YEAR(InvoiceAllowanceItem.InvoiceDate)                         AS Year
			       ,CAST((MONTH(InvoiceAllowanceItem.InvoiceDate) + 1) / 2 AS int) AS PeriodNo
			       ,MONTH(InvoiceAllowanceItem.InvoiceDate)                        AS Month
			FROM 
			(
				SELECT  AllowanceID
				       ,MIN(ItemID) AS ItemID
				FROM InvoiceAllowanceDetails
				GROUP BY  AllowanceID
			) AS s_1
			INNER JOIN InvoiceAllowanceItem
			ON s_1.ItemID = InvoiceAllowanceItem.ItemID
		) AS a
		ON InvoiceAllowance.AllowanceID = a.AllowanceID
		WHERE (InvoiceAllowanceSeller.SellerID = @SellerID) 
		AND (InvoiceAllowance.AllowanceDate >= @StartDate) 
		AND (InvoiceAllowance.AllowanceDate < @EndDate) 
		AND NOT Exists( 
		SELECT  null
		FROM InvoiceAllowanceCancellation c
		WHERE c.AllowanceID = InvoiceAllowance.AllowanceID) 
	) AS s
	GROUP BY  CurrencyID
	         ,SellerID
	         ,TrackCode
	         ,Year
	         ,PeriodNo
			 ,Month
) AS v
ON CurrencyType.CurrencyID = v.CurrencyID
INNER JOIN InvoiceTrackCode AS t
ON v.TrackCode = t.TrackCode AND v.Year = t.Year AND v.PeriodNo = t.PeriodNo
INNER JOIN 
(
	SELECT  TrackID
	       ,SellerID
	       ,MIN(StartNo) AS StartNo
	FROM InvoiceNoInterval AS InvoiceNoInterval_2
	GROUP BY  TrackID
	         ,SellerID
) AS m
ON m.TrackID = t.TrackID AND m.SellerID = v.SellerID
INNER JOIN 
(
	SELECT  TrackID
	       ,SellerID
	       ,MAX(EndNo) AS EndNo
	FROM InvoiceNoInterval AS InvoiceNoInterval_2
	GROUP BY  TrackID
	         ,SellerID
) AS x
ON x.TrackID = t.TrackID AND x.SellerID = v.SellerID
ORDER BY CurrencyType.CurrencyID

END

GO
