USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceWinningNumber]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceWinningNumber](
	[InvoiceID] [int] NOT NULL,
	[WinningID] [int] NULL,
	[DownloadDate] [datetime] NULL,
	[PrizeType] [nvarchar](16) NULL,
	[Bonus] [int] NULL,
 CONSTRAINT [PK_InvoiceWinningNumber] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceWinningNumber]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceWinningNumber_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceWinningNumber] CHECK CONSTRAINT [FK_InvoiceWinningNumber_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoiceWinningNumber]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceWinningNumber_UniformInvoiceWinningNumber] FOREIGN KEY([WinningID])
REFERENCES [dbo].[UniformInvoiceWinningNumber] ([WinningID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceWinningNumber] CHECK CONSTRAINT [FK_InvoiceWinningNumber_UniformInvoiceWinningNumber]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票中獎號碼主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceWinningNumber'
GO
