USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceIssuerAgent]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceIssuerAgent](
	[AgentID] [int] NOT NULL,
	[IssuerID] [int] NOT NULL,
	[RelationType] [int] NULL,
 CONSTRAINT [PK_InvoiceIssurerAgent] PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC,
	[IssuerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceIssuerAgent]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceIssurerAgent_Organization] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceIssuerAgent] CHECK CONSTRAINT [FK_InvoiceIssurerAgent_Organization]
GO
ALTER TABLE [dbo].[InvoiceIssuerAgent]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceIssurerAgent_Organization1] FOREIGN KEY([IssuerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceIssuerAgent] CHECK CONSTRAINT [FK_InvoiceIssurerAgent_Organization1]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceIssuerAgent', @level2type=N'COLUMN',@level2name=N'AgentID'
GO
