USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentPrintQueue]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentPrintQueue](
	[DocID] [int] NOT NULL,
	[UID] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[SubmitID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DocumentPrintQueue] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentPrintQueue] ADD  CONSTRAINT [DF_DocumentPrintQueue_SubmitDate]  DEFAULT (getdate()) FOR [SubmitDate]
GO
ALTER TABLE [dbo].[DocumentPrintQueue]  WITH CHECK ADD  CONSTRAINT [FK_DocumentPrintQueue_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentPrintQueue] CHECK CONSTRAINT [FK_DocumentPrintQueue_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentPrintQueue]  WITH CHECK ADD  CONSTRAINT [FK_DocumentPrintQueue_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[DocumentPrintQueue] CHECK CONSTRAINT [FK_DocumentPrintQueue_UserProfile]
GO
