USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](40) NULL,
	[PID] [nvarchar](32) NOT NULL,
	[Password] [nvarchar](64) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](128) NULL,
	[City] [nvarchar](16) NULL,
	[Region] [nvarchar](16) NULL,
	[PostalCode] [nvarchar](16) NULL,
	[Country] [nvarchar](16) NULL,
	[MobilePhone] [nvarchar](24) NULL,
	[Phone] [nvarchar](64) NULL,
	[Phone2] [nvarchar](64) NULL,
	[Fax] [nvarchar](64) NULL,
	[EMail] [nvarchar](512) NULL,
	[Expiration] [datetime] NULL,
	[Creator] [int] NULL,
	[AuthID] [int] NULL,
	[LevelID] [int] NULL,
	[ThemeName] [nvarchar](16) NULL,
	[Password2] [nvarchar](64) NULL,
	[MailID] [nvarchar](64) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_UserProfile] UNIQUE NONCLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfile_MailID]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_UserProfile_MailID] ON [dbo].[UserProfile]
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_LevelExpression] FOREIGN KEY([LevelID])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_LevelExpression]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_UserProfile] FOREIGN KEY([Creator])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_UserProfile]
GO
ALTER TABLE [dbo].[UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_UserProfile1] FOREIGN KEY([AuthID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[UserProfile] CHECK CONSTRAINT [FK_UserProfile_UserProfile1]
GO
