USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAllowanceItem]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAllowanceItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[No] [smallint] NULL,
	[InvoiceNo] [nvarchar](16) NULL,
	[Piece] [decimal](18, 5) NULL,
	[Amount] [decimal](18, 5) NULL,
	[Tax] [decimal](18, 5) NULL,
	[ProductItemID] [int] NULL,
	[InvoiceDate] [datetime] NULL,
	[ItemNo] [nvarchar](16) NULL,
	[OriginalSequenceNo] [smallint] NULL,
	[PieceUnit] [nvarchar](16) NULL,
	[OriginalDescription] [nvarchar](256) NULL,
	[TaxType] [tinyint] NULL,
	[UnitCost] [decimal](18, 5) NULL,
	[UnitCost2] [decimal](18, 5) NULL,
	[Piece2] [decimal](18, 5) NULL,
	[Amount2] [decimal](18, 5) NULL,
	[PieceUnit2] [nvarchar](16) NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_InvoiceAllowanceItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAllowanceItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceItem_InvoiceProductItem] FOREIGN KEY([ProductItemID])
REFERENCES [dbo].[InvoiceProductItem] ([ItemID])
GO
ALTER TABLE [dbo].[InvoiceAllowanceItem] CHECK CONSTRAINT [FK_InvoiceAllowanceItem_InvoiceProductItem]
GO
