USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceUserCarrier]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceUserCarrier](
	[CarrierID] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NULL,
	[TypeID] [int] NOT NULL,
	[CarrierNo] [nvarchar](64) NULL,
	[CarrierNo2] [nvarchar](64) NOT NULL,
	[DeleteFlag] [bit] NULL,
	[CodeID] [int] NULL,
 CONSTRAINT [PK_InvoiceUserCarrier] PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceUserCarrier]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InvoiceUserCarrier] ON [dbo].[InvoiceUserCarrier]
(
	[CarrierNo] ASC,
	[CarrierNo2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceUserCarrier]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceUserCarrier_InvoiceUserCarrierType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[InvoiceUserCarrierType] ([TypeID])
GO
ALTER TABLE [dbo].[InvoiceUserCarrier] CHECK CONSTRAINT [FK_InvoiceUserCarrier_InvoiceUserCarrierType]
GO
ALTER TABLE [dbo].[InvoiceUserCarrier]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceUserCarrier_MemberCode] FOREIGN KEY([CodeID])
REFERENCES [dbo].[MemberCode] ([CodeID])
GO
ALTER TABLE [dbo].[InvoiceUserCarrier] CHECK CONSTRAINT [FK_InvoiceUserCarrier_MemberCode]
GO
ALTER TABLE [dbo].[InvoiceUserCarrier]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceUserCarrier_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[InvoiceUserCarrier] CHECK CONSTRAINT [FK_InvoiceUserCarrier_UserProfile]
GO
