USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[MatchWinningInvoiceNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MatchWinningInvoiceNo]
	( 
		@Year		int,
		@PeriodNo	int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @theYear	DateTime
	set @theYear = DATEFROMPARTS(@Year,1,1)
	declare @startDate	DateTime = DATEADD(MONTH,@PeriodNo*2-2,@theYear)
	declare @endDate	DateTime = DATEADD(MONTH,@PeriodNo*2,@theYear)
	--select @theYear,@startDate,@endDate

	DELETE FROM InvoiceWinningNumber
	FROM     UniformInvoiceWinningNumber INNER JOIN
					InvoiceWinningNumber ON UniformInvoiceWinningNumber.WinningID = InvoiceWinningNumber.WinningID
	WHERE   (UniformInvoiceWinningNumber.Period = @PeriodNo) AND (UniformInvoiceWinningNumber.Year = @Year)

		;
	with v as (
	SELECT  u.WinningID, u.Rank, i.InvoiceID, u.PrizeType, u.Bonus
	FROM     UniformInvoiceWinningNumber AS u 
				INNER JOIN InvoiceItem AS i ON i.No LIKE '%' + u.WinningNO
				inner join InvoiceBuyer as b on i.InvoiceID = b.InvoiceID
				inner join InvoiceAmountType as a on i.InvoiceID = a.InvoiceID

	WHERE   (u.Year = @Year) AND (u.Period = @PeriodNo) AND (i.InvoiceDate >= @startDate) AND (i.InvoiceDate < @endDate)
		AND i.InvoiceID not in (select InvoiceID from InvoiceCancellation) AND b.ReceiptNo='0000000000' AND a.TotalAmount>0
	)
	INSERT INTO InvoiceWinningNumber
					(WinningID, InvoiceID, PrizeType, Bonus)
	select v.WinningID,v1.InvoiceID,v.PrizeType,v.Bonus from 
	(
	select min(Rank) as Rank,InvoiceID from v group by InvoiceID
	) v1 inner join v 
		on v1.InvoiceID = v.InvoiceID and v1.Rank = v.Rank

END


GO
