USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAllowanceItemExtension]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAllowanceItemExtension](
	[AllowanceID] [int] NOT NULL,
	[ExtraRemark] [xml] NULL,
 CONSTRAINT [PK_InvoiceAllowanceItemExtension] PRIMARY KEY CLUSTERED 
(
	[AllowanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAllowanceItemExtension]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceItemExtension_InvoiceAllowance] FOREIGN KEY([AllowanceID])
REFERENCES [dbo].[InvoiceAllowance] ([AllowanceID])
GO
ALTER TABLE [dbo].[InvoiceAllowanceItemExtension] CHECK CONSTRAINT [FK_InvoiceAllowanceItemExtension_InvoiceAllowance]
GO
