USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceNoMainAssignment]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNoMainAssignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[TrackID] [int] NOT NULL,
	[MasterID] [int] NOT NULL,
	[StartNo] [int] NOT NULL,
	[EndNo] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceNoMainAssignment] PRIMARY KEY CLUSTERED 
(
	[TrackID] ASC,
	[MasterID] ASC,
	[StartNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceNoMainAssignment]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InvoiceNoMainAssignment] ON [dbo].[InvoiceNoMainAssignment]
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceNoMainAssignment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoMainAssignment_InvoiceTrackCodeAssignment1] FOREIGN KEY([TrackID], [MasterID])
REFERENCES [dbo].[InvoiceTrackCodeAssignment] ([TrackID], [SellerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceNoMainAssignment] CHECK CONSTRAINT [FK_InvoiceNoMainAssignment_InvoiceTrackCodeAssignment1]
GO
