USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePeriodExchangeRate]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePeriodExchangeRate](
	[PeriodID] [int] NOT NULL,
	[CurrencyID] [int] NOT NULL,
	[ExchangeRate] [decimal](18, 5) NOT NULL,
 CONSTRAINT [PK_InvoicePeriodExchangeRate] PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC,
	[CurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePeriodExchangeRate]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePeriodExchangeRate_CurrencyType] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[CurrencyType] ([CurrencyID])
GO
ALTER TABLE [dbo].[InvoicePeriodExchangeRate] CHECK CONSTRAINT [FK_InvoicePeriodExchangeRate_CurrencyType]
GO
ALTER TABLE [dbo].[InvoicePeriodExchangeRate]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePeriodExchangeRate_InvoicePeriod] FOREIGN KEY([PeriodID])
REFERENCES [dbo].[InvoicePeriod] ([PeriodID])
GO
ALTER TABLE [dbo].[InvoicePeriodExchangeRate] CHECK CONSTRAINT [FK_InvoicePeriodExchangeRate_InvoicePeriod]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'匯率' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoicePeriodExchangeRate', @level2type=N'COLUMN',@level2name=N'ExchangeRate'
GO
