USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentPrintLog]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentPrintLog](
	[DocID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[PrintDate] [datetime] NOT NULL,
	[UID] [int] NOT NULL,
	[LogID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DocumentPrintLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentPrintLog_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentPrintLog] CHECK CONSTRAINT [FK_DocumentPrintLog_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentPrintLog_DocumentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[DocumentType] ([TypeID])
GO
ALTER TABLE [dbo].[DocumentPrintLog] CHECK CONSTRAINT [FK_DocumentPrintLog_DocumentType]
GO
ALTER TABLE [dbo].[DocumentPrintLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentPrintLog_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentPrintLog] CHECK CONSTRAINT [FK_DocumentPrintLog_UserProfile]
GO
