USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAllowanceDetails]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAllowanceDetails](
	[AllowanceID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceAllowanceDetails] PRIMARY KEY CLUSTERED 
(
	[AllowanceID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAllowanceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceDetails_InvoiceAllowance] FOREIGN KEY([AllowanceID])
REFERENCES [dbo].[InvoiceAllowance] ([AllowanceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceAllowanceDetails] CHECK CONSTRAINT [FK_InvoiceAllowanceDetails_InvoiceAllowance]
GO
ALTER TABLE [dbo].[InvoiceAllowanceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceDetails_InvoiceAllowanceItem] FOREIGN KEY([ItemID])
REFERENCES [dbo].[InvoiceAllowanceItem] ([ItemID])
GO
ALTER TABLE [dbo].[InvoiceAllowanceDetails] CHECK CONSTRAINT [FK_InvoiceAllowanceDetails_InvoiceAllowanceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折讓證明單明細檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowanceDetails'
GO
