USE [EIVO03]
GO
/****** Object:  Table [dbo].[WelfareReplication]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WelfareReplication](
	[WelfareID] [int] NOT NULL,
 CONSTRAINT [PK_WelfareReplication] PRIMARY KEY CLUSTERED 
(
	[WelfareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WelfareReplication]  WITH CHECK ADD  CONSTRAINT [FK_WelfareReplication_InvoiceWelfareAgency] FOREIGN KEY([WelfareID])
REFERENCES [dbo].[InvoiceWelfareAgency] ([WelfareID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WelfareReplication] CHECK CONSTRAINT [FK_WelfareReplication_InvoiceWelfareAgency]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料異動待回應檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WelfareReplication'
GO
