USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAllowanceBuyer]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAllowanceBuyer](
	[AllowanceID] [int] NOT NULL,
	[BuyerID] [int] NULL,
	[Name] [nvarchar](128) NULL,
	[CustomerName] [nvarchar](64) NULL,
	[ReceiptNo] [nvarchar](10) NULL,
	[PostCode] [nvarchar](8) NULL,
	[Address] [nvarchar](128) NULL,
	[CustomerID] [nvarchar](64) NULL,
	[ContactName] [nvarchar](64) NULL,
	[Phone] [nvarchar](64) NULL,
	[EMail] [nvarchar](512) NULL,
	[Fax] [nvarchar](64) NULL,
	[PersonInCharge] [nvarchar](64) NULL,
	[RoleRemark] [nvarchar](64) NULL,
 CONSTRAINT [PK_InvoiceAllowanceBuyer] PRIMARY KEY CLUSTERED 
(
	[AllowanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAllowanceBuyer]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceBuyer_InvoiceAllowance] FOREIGN KEY([AllowanceID])
REFERENCES [dbo].[InvoiceAllowance] ([AllowanceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceAllowanceBuyer] CHECK CONSTRAINT [FK_InvoiceAllowanceBuyer_InvoiceAllowance]
GO
ALTER TABLE [dbo].[InvoiceAllowanceBuyer]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowanceBuyer_Organization] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceAllowanceBuyer] CHECK CONSTRAINT [FK_InvoiceAllowanceBuyer_Organization]
GO
