USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePurchaseOrder]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePurchaseOrder](
	[InvoiceID] [int] NOT NULL,
	[UploadID] [int] NULL,
	[OrderNo] [nvarchar](64) NULL,
	[PurchaseDate] [datetime] NULL,
 CONSTRAINT [PK_InvoicePurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoicePurchaseOrder]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoicePurchaseOrder] ON [dbo].[InvoicePurchaseOrder]
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePurchaseOrder_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoicePurchaseOrder] CHECK CONSTRAINT [FK_InvoicePurchaseOrder_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoicePurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePurchaseOrder_InvoicePurchaseOrderUpload] FOREIGN KEY([UploadID])
REFERENCES [dbo].[InvoicePurchaseOrderUpload] ([UploadID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoicePurchaseOrder] CHECK CONSTRAINT [FK_InvoicePurchaseOrder_InvoicePurchaseOrderUpload]
GO
