USE [EIVO03]
GO
/****** Object:  Table [dbo].[InboxItems]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboxItems](
	[MessageID] [int] NOT NULL,
 CONSTRAINT [PK_InboxItems] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InboxItems]  WITH CHECK ADD  CONSTRAINT [FK_InboxItems_MessageType] FOREIGN KEY([MessageID])
REFERENCES [dbo].[MessageType] ([MessageID])
GO
ALTER TABLE [dbo].[InboxItems] CHECK CONSTRAINT [FK_InboxItems_MessageType]
GO
