USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationCustomSetting]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationCustomSetting](
	[CompanyID] [int] NOT NULL,
	[SettingData] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrganizationCustomSetting] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationCustomSetting]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationCustomSetting_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrganizationCustomSetting] CHECK CONSTRAINT [FK_OrganizationCustomSetting_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrganizationCustomSetting', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
