USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[GetInvoiceReport]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInvoiceReport]
	( 
		@SellerID	int,
		@StartDate	datetime,
		@EndDate		datetime
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--select @theYear,@StartDate,@EndDate

SELECT  s.TrackID
       ,s.SellerID
       ,dbo.CurrencyType.CurrencyID
       ,dbo.CurrencyType.CurrencyName
       ,dbo.CurrencyType.AbbrevName
       ,dbo.InvoiceTrackCode.TrackCode
       ,s.RecordCount
       ,m.StartNo
       ,x.EndNo
       ,s.TotalAmount
       ,s.TotalSalesAmount
       ,s.TotalTaxAmount
       ,dbo.InvoiceTrackCode.Year
       ,dbo.InvoiceTrackCode.PeriodNo
       ,dbo.InvoiceTrackCode.PeriodID
FROM dbo.CurrencyType
INNER JOIN 
(
	SELECT  InvoiceAmountType.CurrencyID, InvoiceNoInterval.TrackID, InvoiceNoInterval.SellerID, SUM(InvoiceAmountType.TotalAmount) AS TotalAmount, 
               SUM(InvoiceAmountType.SalesAmount) AS TotalSalesAmount, SUM(InvoiceAmountType.TaxAmount) AS TotalTaxAmount, COUNT(*) 
               AS RecordCount
	FROM     InvoiceItem AS i INNER JOIN
				   InvoiceAmountType ON i.InvoiceID = InvoiceAmountType.InvoiceID INNER JOIN
				   InvoiceNoAssignment ON i.InvoiceID = InvoiceNoAssignment.InvoiceID INNER JOIN
				   InvoiceNoInterval ON InvoiceNoAssignment.IntervalID = InvoiceNoInterval.IntervalID
	WHERE   (i.SellerID = @SellerID) AND (i.InvoiceDate >= @StartDate) AND (i.InvoiceDate < @EndDate) AND (NOT EXISTS
					   (SELECT  NULL AS Expr1
					   FROM     InvoiceCancellation AS c
					   WHERE   (c.InvoiceID = i.InvoiceID)))
	GROUP BY InvoiceAmountType.CurrencyID, InvoiceNoInterval.TrackID, InvoiceNoInterval.SellerID
) AS s
ON dbo.CurrencyType.CurrencyID = s.CurrencyID
INNER JOIN 
(
	SELECT  TrackID
	       ,SellerID
	       ,MIN(StartNo) AS StartNo
	FROM dbo.InvoiceNoInterval AS InvoiceNoInterval_2
	GROUP BY  TrackID
	         ,SellerID
) AS m
ON s.TrackID = m.TrackID AND s.SellerID = m.SellerID
INNER JOIN 
(
	SELECT  TrackID
	       ,SellerID
	       ,MAX(EndNo) AS EndNo
	FROM dbo.InvoiceNoInterval AS InvoiceNoInterval_1
	GROUP BY  TrackID
	         ,SellerID
) AS x
ON s.TrackID = x.TrackID AND s.SellerID = x.SellerID
INNER JOIN dbo.InvoiceTrackCode
ON s.TrackID = dbo.InvoiceTrackCode.TrackID
ORDER BY dbo.CurrencyType.CurrencyID

END

GO
