USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserProfileStatus]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfileStatus](
	[UID] [int] NOT NULL,
	[CurrentLevel] [int] NULL,
 CONSTRAINT [PK_UserProfileStatus] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserProfileStatus]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileStatus_LevelExpression] FOREIGN KEY([CurrentLevel])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[UserProfileStatus] CHECK CONSTRAINT [FK_UserProfileStatus_LevelExpression]
GO
ALTER TABLE [dbo].[UserProfileStatus]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileStatus_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfileStatus] CHECK CONSTRAINT [FK_UserProfileStatus_UserProfile]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'會員狀態主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserProfileStatus'
GO
