USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceAllowance]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceAllowance](
	[AllowanceID] [int] NOT NULL,
	[AllowanceNumber] [nvarchar](64) NULL,
	[AllowanceType] [tinyint] NULL,
	[AllowanceDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 5) NULL,
	[TaxAmount] [decimal](18, 5) NULL,
	[InvoiceID] [int] NULL,
	[SellerId] [nvarchar](10) NULL,
	[BuyerId] [nvarchar](10) NULL,
	[CurrencyID] [int] NULL,
	[IssueDate] [datetime] NULL,
 CONSTRAINT [PK_InvoiceAllowance] PRIMARY KEY CLUSTERED 
(
	[AllowanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceAllowance]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceAllowance] ON [dbo].[InvoiceAllowance]
(
	[AllowanceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceAllowance]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowance_CDS_Document] FOREIGN KEY([AllowanceID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceAllowance] CHECK CONSTRAINT [FK_InvoiceAllowance_CDS_Document]
GO
ALTER TABLE [dbo].[InvoiceAllowance]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowance_CurrencyType] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[CurrencyType] ([CurrencyID])
GO
ALTER TABLE [dbo].[InvoiceAllowance] CHECK CONSTRAINT [FK_InvoiceAllowance_CurrencyType]
GO
ALTER TABLE [dbo].[InvoiceAllowance]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceAllowance_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceAllowance] CHECK CONSTRAINT [FK_InvoiceAllowance_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折讓證明單號碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowance', @level2type=N'COLUMN',@level2name=N'AllowanceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折讓種類
1:買方開立折讓證明單
2:賣方折讓證明單通知
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowance', @level2type=N'COLUMN',@level2name=N'AllowanceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'折讓證明單日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowance', @level2type=N'COLUMN',@level2name=N'AllowanceDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'金額(不含稅之進貨額)合計' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowance', @level2type=N'COLUMN',@level2name=N'TotalAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'營業稅額合計' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowance', @level2type=N'COLUMN',@level2name=N'TaxAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票折讓主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceAllowance'
GO
