USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceBuyer]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceBuyer](
	[InvoiceID] [int] NOT NULL,
	[ReceiptNo] [nvarchar](10) NULL,
	[PostCode] [nvarchar](8) NULL,
	[Address] [nvarchar](128) NULL,
	[Name] [nvarchar](128) NULL,
	[BuyerID] [int] NULL,
	[CustomerID] [nvarchar](64) NULL,
	[ContactName] [nvarchar](64) NULL,
	[Phone] [nvarchar](64) NULL,
	[EMail] [nvarchar](512) NULL,
	[CustomerName] [nvarchar](64) NULL,
	[Fax] [nvarchar](64) NULL,
	[PersonInCharge] [nvarchar](64) NULL,
	[RoleRemark] [nvarchar](64) NULL,
	[CustomerNumber] [nvarchar](20) NULL,
	[BuyerMark] [int] NULL,
 CONSTRAINT [PK_InvoiceBuyer] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceBuyer]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceBuyer] ON [dbo].[InvoiceBuyer]
(
	[ReceiptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InvoiceBuyer_CustomerID]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceBuyer_CustomerID] ON [dbo].[InvoiceBuyer]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceBuyer]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceBuyer_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceBuyer] CHECK CONSTRAINT [FK_InvoiceBuyer_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoiceBuyer]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceBuyer_Organization] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[InvoiceBuyer] CHECK CONSTRAINT [FK_InvoiceBuyer_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票買方明細檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceBuyer'
GO
