USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceNoAssignment]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNoAssignment](
	[InvoiceID] [int] NOT NULL,
	[IntervalID] [int] NULL,
	[InvoiceNo] [int] NULL,
 CONSTRAINT [PK_InvoiceNoAssignment] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceNoAssignment]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InvoiceNoAssignment] ON [dbo].[InvoiceNoAssignment]
(
	[IntervalID] ASC,
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceNoAssignment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoAssignment_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceNoAssignment] CHECK CONSTRAINT [FK_InvoiceNoAssignment_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoiceNoAssignment]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoAssignment_InvoiceNoInterval] FOREIGN KEY([IntervalID])
REFERENCES [dbo].[InvoiceNoInterval] ([IntervalID])
GO
ALTER TABLE [dbo].[InvoiceNoAssignment] CHECK CONSTRAINT [FK_InvoiceNoAssignment_InvoiceNoInterval]
GO
