USE [EIVO03]
GO
/****** Object:  Table [dbo].[CDS_Document]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CDS_Document](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[DocType] [int] NULL,
	[DocDate] [datetime] NOT NULL,
	[CurrentStep] [int] NULL,
	[ChannelID] [int] NULL,
	[ProcessType] [int] NULL,
 CONSTRAINT [PK_CDS_Document] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CDS_Document]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_CDS_Document] ON [dbo].[CDS_Document]
(
	[DocType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CDS_Document] ADD  CONSTRAINT [DF_CDS_Document_DocDate]  DEFAULT (getdate()) FOR [DocDate]
GO
ALTER TABLE [dbo].[CDS_Document]  WITH CHECK ADD  CONSTRAINT [FK_CDS_Document_DocumentType] FOREIGN KEY([DocType])
REFERENCES [dbo].[DocumentType] ([TypeID])
GO
ALTER TABLE [dbo].[CDS_Document] CHECK CONSTRAINT [FK_CDS_Document_DocumentType]
GO
ALTER TABLE [dbo].[CDS_Document]  WITH CHECK ADD  CONSTRAINT [FK_CDS_Document_LevelExpression] FOREIGN KEY([CurrentStep])
REFERENCES [dbo].[LevelExpression] ([LevelID])
GO
ALTER TABLE [dbo].[CDS_Document] CHECK CONSTRAINT [FK_CDS_Document_LevelExpression]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件建立時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CDS_Document', @level2type=N'COLUMN',@level2name=N'DocDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系統文件主檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CDS_Document'
GO
