USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[DeleteInvoice]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteInvoice]
	( 
		@InvoiceNo	nvarchar(10)
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON;

declare @TrackCode nvarchar(2)
declare @No nvarchar(8)

if Len(@InvoiceNo) = 10
	begin
		set @TrackCode = Left(@InvoiceNo,2)
		set @No = Substring(@InvoiceNo,3,8)

		select @TrackCode,@No

		DELETE FROM CDS_Document
		FROM              DerivedDocument INNER JOIN
									CDS_Document ON DerivedDocument.DocID = CDS_Document.DocID INNER JOIN
									InvoiceItem ON DerivedDocument.SourceID = InvoiceItem.InvoiceID
		WHERE          (InvoiceItem.TrackCode = @TrackCode) AND (InvoiceItem.No = @No)

		DELETE FROM CDS_Document
		FROM              CDS_Document INNER JOIN
									InvoiceItem ON CDS_Document.DocID = InvoiceItem.InvoiceID
		WHERE          (InvoiceItem.TrackCode = @TrackCode) AND (InvoiceItem.No = @No)
	end
END



GO
