USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentDownloadLog]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentDownloadLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[DocID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[DownloadDate] [datetime] NOT NULL,
	[UID] [int] NOT NULL,
 CONSTRAINT [PK_DocumentDownloadLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentDownloadLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentDownloadLog_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentDownloadLog] CHECK CONSTRAINT [FK_DocumentDownloadLog_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentDownloadLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentDownloadLog_DocumentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[DocumentType] ([TypeID])
GO
ALTER TABLE [dbo].[DocumentDownloadLog] CHECK CONSTRAINT [FK_DocumentDownloadLog_DocumentType]
GO
ALTER TABLE [dbo].[DocumentDownloadLog]  WITH CHECK ADD  CONSTRAINT [FK_DocumentDownloadLog_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[DocumentDownloadLog] CHECK CONSTRAINT [FK_DocumentDownloadLog_UserProfile]
GO
