USE [EIVO03]
GO
/****** Object:  Table [dbo].[WelfareAgency]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WelfareAgency](
	[AgencyID] [int] NOT NULL,
	[AgencyCode] [nvarchar](64) NULL,
 CONSTRAINT [PK_WelfareAgency] PRIMARY KEY CLUSTERED 
(
	[AgencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WelfareAgency]  WITH CHECK ADD  CONSTRAINT [FK_WelfareAgency_Organization] FOREIGN KEY([AgencyID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[WelfareAgency] CHECK CONSTRAINT [FK_WelfareAgency_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WelfareAgency', @level2type=N'COLUMN',@level2name=N'AgencyID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'機構代碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WelfareAgency', @level2type=N'COLUMN',@level2name=N'AgencyCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'社福機構' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WelfareAgency'
GO
