USE [EIVO03]
GO
/****** Object:  Table [dbo].[POSDevice]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSDevice](
	[DeviceID] [int] IDENTITY(1,1) NOT NULL,
	[POSNo] [nvarchar](64) NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_POSDevice] PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POSDevice]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_POSDevice] ON [dbo].[POSDevice]
(
	[CompanyID] ASC,
	[POSNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSDevice]  WITH CHECK ADD  CONSTRAINT [FK_POSDevice_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [dbo].[POSDevice] CHECK CONSTRAINT [FK_POSDevice_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'POSDevice', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
