USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentReasonForRefusal]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentReasonForRefusal](
	[DocID] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[TimeToRefuse] [datetime] NOT NULL,
 CONSTRAINT [PK_DocumentReasonForRefusal] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[TimeToRefuse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentReasonForRefusal]  WITH CHECK ADD  CONSTRAINT [FK_DocumentReasonForRefusal_DocumentProcessLog] FOREIGN KEY([DocID], [TimeToRefuse])
REFERENCES [dbo].[DocumentProcessLog] ([DocID], [StepDate])
GO
ALTER TABLE [dbo].[DocumentReasonForRefusal] CHECK CONSTRAINT [FK_DocumentReasonForRefusal_DocumentProcessLog]
GO
