USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceItemExtension]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItemExtension](
	[InvoiceID] [int] NOT NULL,
	[ExtraRemark] [xml] NULL,
	[ProjectNo] [nvarchar](64) NULL,
	[PurchaseNo] [nvarchar](64) NULL,
	[StampDutyFlag] [tinyint] NULL,
 CONSTRAINT [PK_InvoiceItemExtension] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceItemExtension]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItemExtension_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItemExtension] CHECK CONSTRAINT [FK_InvoiceItemExtension_InvoiceItem]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primary Key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItemExtension', @level2type=N'COLUMN',@level2name=N'InvoiceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'顯示印花稅圖章
0:不需要
1:需要
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceItemExtension', @level2type=N'COLUMN',@level2name=N'StampDutyFlag'
GO
