USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationDepartmentMember]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationDepartmentMember](
	[UID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
 CONSTRAINT [PK_OrganizationDepartmentMember] PRIMARY KEY CLUSTERED 
(
	[UID] ASC,
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationDepartmentMember]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationDepartmentMember_OrganizationDepartment] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[OrganizationDepartment] ([DepartmentID])
GO
ALTER TABLE [dbo].[OrganizationDepartmentMember] CHECK CONSTRAINT [FK_OrganizationDepartmentMember_OrganizationDepartment]
GO
ALTER TABLE [dbo].[OrganizationDepartmentMember]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationDepartmentMember_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[OrganizationDepartmentMember] CHECK CONSTRAINT [FK_OrganizationDepartmentMember_UserProfile]
GO
