USE [EIVO03]
GO
/****** Object:  Table [dbo].[IssuingNotice]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuingNotice](
	[DocID] [int] NOT NULL,
	[IssueDate] [datetime] NULL,
 CONSTRAINT [PK_IssuingNotice] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IssuingNotice]  WITH CHECK ADD  CONSTRAINT [FK_IssuingNotice_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IssuingNotice] CHECK CONSTRAINT [FK_IssuingNotice_CDS_Document]
GO
