USE [EIVO03]
GO
/****** Object:  Table [dbo].[MessageType]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageType](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](128) NULL,
	[UIControl] [nvarchar](256) NULL,
	[MailControl] [nvarchar](256) NULL,
	[PageSize] [int] NULL,
	[DetailControl] [nvarchar](256) NULL,
 CONSTRAINT [PK_MessageType] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
