USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceCancellationUpload]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceCancellationUpload](
	[UploadID] [int] IDENTITY(1,1) NOT NULL,
	[FilePath] [nvarchar](256) NOT NULL,
	[UploadDate] [datetime] NULL,
	[UID] [int] NULL,
 CONSTRAINT [PK_InvoiceCancellationUpload] PRIMARY KEY CLUSTERED 
(
	[UploadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceCancellationUpload]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceCancellationUpload_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[InvoiceCancellationUpload] CHECK CONSTRAINT [FK_InvoiceCancellationUpload_UserProfile]
GO
