USE [EIVO03]
GO
/****** Object:  Table [dbo].[DerivedDocument]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DerivedDocument](
	[DocID] [int] NOT NULL,
	[SourceID] [int] NOT NULL,
 CONSTRAINT [PK_DerivedDocument] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DerivedDocument]  WITH CHECK ADD  CONSTRAINT [FK_DerivedDocument_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DerivedDocument] CHECK CONSTRAINT [FK_DerivedDocument_CDS_Document]
GO
ALTER TABLE [dbo].[DerivedDocument]  WITH CHECK ADD  CONSTRAINT [FK_DerivedDocument_CDS_Document1] FOREIGN KEY([SourceID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [dbo].[DerivedDocument] CHECK CONSTRAINT [FK_DerivedDocument_CDS_Document1]
GO
