USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceNoInterval]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNoInterval](
	[IntervalID] [int] IDENTITY(1,1) NOT NULL,
	[TrackID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[StartNo] [int] NOT NULL,
	[EndNo] [int] NOT NULL,
	[LockID] [int] NULL,
 CONSTRAINT [PK_InvoiceNoInterval] PRIMARY KEY CLUSTERED 
(
	[IntervalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceNoInterval]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceNoInterval] ON [dbo].[InvoiceNoInterval]
(
	[LockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceNoInterval]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoInterval_InvoiceTrackCodeAssignment] FOREIGN KEY([TrackID], [SellerID])
REFERENCES [dbo].[InvoiceTrackCodeAssignment] ([TrackID], [SellerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceNoInterval] CHECK CONSTRAINT [FK_InvoiceNoInterval_InvoiceTrackCodeAssignment]
GO
