USE [EIVO03]
GO
/****** Object:  Table [dbo].[OrganizationCategoryUserRole]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationCategoryUserRole](
	[OrgaCateID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[MainMenu] [xml] NULL,
 CONSTRAINT [PK_OrganizationCategoryUserRole] PRIMARY KEY CLUSTERED 
(
	[OrgaCateID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrganizationCategoryUserRole]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationCategoryUserRole_OrganizationCategory] FOREIGN KEY([OrgaCateID])
REFERENCES [dbo].[OrganizationCategory] ([OrgaCateID])
GO
ALTER TABLE [dbo].[OrganizationCategoryUserRole] CHECK CONSTRAINT [FK_OrganizationCategoryUserRole_OrganizationCategory]
GO
ALTER TABLE [dbo].[OrganizationCategoryUserRole]  WITH CHECK ADD  CONSTRAINT [FK_OrganizationCategoryUserRole_UserRoleDefinition] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRoleDefinition] ([RoleID])
GO
ALTER TABLE [dbo].[OrganizationCategoryUserRole] CHECK CONSTRAINT [FK_OrganizationCategoryUserRole_UserRoleDefinition]
GO
