USE [EIVO03]
GO
/****** Object:  Table [dbo].[DocumentReplication]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentReplication](
	[DocID] [int] NOT NULL,
	[LastActionTime] [datetime] NULL,
	[RetrialCount] [int] NULL,
	[Message] [nvarchar](256) NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_DocumentReplication] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentReplication]  WITH CHECK ADD  CONSTRAINT [FK_DocumentReplication_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DocumentReplication] CHECK CONSTRAINT [FK_DocumentReplication_CDS_Document]
GO
ALTER TABLE [dbo].[DocumentReplication]  WITH CHECK ADD  CONSTRAINT [FK_DocumentReplication_DocumentType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[DocumentType] ([TypeID])
GO
ALTER TABLE [dbo].[DocumentReplication] CHECK CONSTRAINT [FK_DocumentReplication_DocumentType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最近處理時間記錄' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentReplication', @level2type=N'COLUMN',@level2name=N'LastActionTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'重試次數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentReplication', @level2type=N'COLUMN',@level2name=N'RetrialCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'處理訊息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentReplication', @level2type=N'COLUMN',@level2name=N'Message'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'資料異動記錄檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DocumentReplication'
GO
