USE [EIVO03]
GO
/****** Object:  Table [dbo].[EnterpriseGroupMember]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterpriseGroupMember](
	[EnterpriseID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_EnterpriseGroupMember] PRIMARY KEY CLUSTERED 
(
	[EnterpriseID] ASC,
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EnterpriseGroupMember]  WITH CHECK ADD  CONSTRAINT [FK_EnterpriseGroupMember_EnterpriseGroup] FOREIGN KEY([EnterpriseID])
REFERENCES [dbo].[EnterpriseGroup] ([EnterpriseID])
GO
ALTER TABLE [dbo].[EnterpriseGroupMember] CHECK CONSTRAINT [FK_EnterpriseGroupMember_EnterpriseGroup]
GO
ALTER TABLE [dbo].[EnterpriseGroupMember]  WITH CHECK ADD  CONSTRAINT [FK_EnterpriseGroupMember_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnterpriseGroupMember] CHECK CONSTRAINT [FK_EnterpriseGroupMember_Organization]
GO
