USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceProductItem]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceProductItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[No] [smallint] NULL,
	[Spec] [nvarchar](128) NULL,
	[Piece] [decimal](18, 7) NULL,
	[Piece2] [decimal](18, 7) NULL,
	[PieceUnit] [nvarchar](16) NULL,
	[PieceUnit2] [nvarchar](16) NULL,
	[Weight] [decimal](18, 7) NULL,
	[WeightUnit] [nvarchar](16) NULL,
	[UnitFreight] [decimal](18, 7) NULL,
	[UnitCost] [decimal](18, 7) NULL,
	[UnitCost2] [decimal](18, 7) NULL,
	[FreightAmount] [decimal](18, 7) NULL,
	[CostAmount] [decimal](18, 7) NULL,
	[CostAmount2] [decimal](18, 7) NULL,
	[OriginalPrice] [decimal](18, 7) NULL,
	[Remark] [nvarchar](2048) NULL,
	[RelateNumber] [nvarchar](64) NULL,
	[TaxType] [tinyint] NULL,
	[ItemNo] [nvarchar](16) NULL,
 CONSTRAINT [PK_InvoiceProductItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceProductItem]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceProductItem] ON [dbo].[InvoiceProductItem]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceProductItem]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceProductItem_InvoiceProduct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[InvoiceProduct] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceProductItem] CHECK CONSTRAINT [FK_InvoiceProductItem_InvoiceProduct]
GO
