USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoicePaperRequest]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoicePaperRequest](
	[InvoiceID] [int] NOT NULL,
	[Token] [nvarchar](64) NOT NULL,
	[RequestDate] [datetime] NULL,
 CONSTRAINT [PK_InvoicePaperRequest] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoicePaperRequest]  WITH CHECK ADD  CONSTRAINT [FK_InvoicePaperRequest_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoicePaperRequest] CHECK CONSTRAINT [FK_InvoicePaperRequest_InvoiceItem]
GO
