USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceCancellationUploadList]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceCancellationUploadList](
	[UploadID] [int] NOT NULL,
	[InvoiceID] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceCancellationUploadList] PRIMARY KEY CLUSTERED 
(
	[UploadID] ASC,
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceCancellationUploadList]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceCancellationUploadList_InvoiceCancellation] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceCancellation] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceCancellationUploadList] CHECK CONSTRAINT [FK_InvoiceCancellationUploadList_InvoiceCancellation]
GO
ALTER TABLE [dbo].[InvoiceCancellationUploadList]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceCancellationUploadList_InvoiceCancellationUpload] FOREIGN KEY([UploadID])
REFERENCES [dbo].[InvoiceCancellationUpload] ([UploadID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceCancellationUploadList] CHECK CONSTRAINT [FK_InvoiceCancellationUploadList_InvoiceCancellationUpload]
GO
