USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[SettlementInvoiceNo]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SettlementInvoiceNo]
	( 
		@SellerID	int,
		@Year		int,
		@PeriodNo	int
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @theYear	DateTime
	set @theYear = DATEFROMPARTS(@Year,1,1)
	declare @startDate	DateTime = DATEADD(MONTH,@PeriodNo*2-2,@theYear)
	declare @endDate	DateTime = DATEADD(MONTH,@PeriodNo*2,@theYear)
	--select @theYear,@startDate,@endDate

	INSERT INTO InvoiceNoAssignment
					(InvoiceID, IntervalID, InvoiceNo)
	SELECT  i.InvoiceID, s.IntervalID,i.No
	FROM     InvoiceItem AS i INNER JOIN
						(SELECT  InvoiceTrackCode.TrackCode, InvoiceTrackCodeAssignment.SellerID, InvoiceNoInterval.StartNo, InvoiceNoInterval.EndNo, 
										InvoiceNoInterval.IntervalID
						FROM     InvoiceTrackCode INNER JOIN
										InvoiceTrackCodeAssignment ON InvoiceTrackCode.TrackID = InvoiceTrackCodeAssignment.TrackID INNER JOIN
										InvoiceNoInterval ON InvoiceTrackCodeAssignment.TrackID = InvoiceNoInterval.TrackID AND 
										InvoiceTrackCodeAssignment.SellerID = InvoiceNoInterval.SellerID
						WHERE   (InvoiceTrackCode.Year = @Year) AND (InvoiceTrackCode.PeriodNo = @PeriodNo)) AS s ON i.SellerID = s.SellerID AND i.TrackCode = s.TrackCode AND 
					i.No >= s.StartNo AND i.No <= s.EndNo
	WHERE   (i.InvoiceDate >= @startDate) AND (i.InvoiceDate < @endDate) AND (i.SellerID = @SellerID)
	and InvoiceID not in (select InvoiceID from InvoiceNoAssignment)

	
END

GO
