USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceNoSegmentDisposition]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNoSegmentDisposition](
	[SegmentID] [int] NOT NULL,
	[UID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceNoSegmentDisposition] PRIMARY KEY CLUSTERED 
(
	[SegmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceNoSegmentDisposition]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoSegmentDisposition_InvoiceNoSegment] FOREIGN KEY([SegmentID])
REFERENCES [dbo].[InvoiceNoSegment] ([SegmentID])
GO
ALTER TABLE [dbo].[InvoiceNoSegmentDisposition] CHECK CONSTRAINT [FK_InvoiceNoSegmentDisposition_InvoiceNoSegment]
GO
ALTER TABLE [dbo].[InvoiceNoSegmentDisposition]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoSegmentDisposition_OrganizationDepartment] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[OrganizationDepartment] ([DepartmentID])
GO
ALTER TABLE [dbo].[InvoiceNoSegmentDisposition] CHECK CONSTRAINT [FK_InvoiceNoSegmentDisposition_OrganizationDepartment]
GO
ALTER TABLE [dbo].[InvoiceNoSegmentDisposition]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceNoSegmentDisposition_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [dbo].[InvoiceNoSegmentDisposition] CHECK CONSTRAINT [FK_InvoiceNoSegmentDisposition_UserProfile]
GO
