USE [EIVO03]
GO
/****** Object:  Table [dbo].[UserProfileExtension]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfileExtension](
	[UID] [int] NOT NULL,
	[IDNo] [nvarchar](10) NULL,
	[Sex] [nvarchar](1) NULL,
	[Birthday] [datetime] NULL,
	[NightPhone] [nvarchar](24) NULL,
	[TwoFactorKey] [nvarchar](64) NULL,
 CONSTRAINT [PK_UserProfileExtension] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserProfileExtension]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileExtension_UserProfile] FOREIGN KEY([UID])
REFERENCES [dbo].[UserProfile] ([UID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfileExtension] CHECK CONSTRAINT [FK_UserProfileExtension_UserProfile]
GO
