USE [EIVO03]
GO
/****** Object:  Table [dbo].[InvoiceByHousehold]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceByHousehold](
	[InvoiceID] [int] NOT NULL,
	[CarrierID] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceByHousehold] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceByHousehold]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceByHousehold_InvoiceItem] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[InvoiceItem] ([InvoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceByHousehold] CHECK CONSTRAINT [FK_InvoiceByHousehold_InvoiceItem]
GO
ALTER TABLE [dbo].[InvoiceByHousehold]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceByHousehold_InvoiceUserCarrier] FOREIGN KEY([CarrierID])
REFERENCES [dbo].[InvoiceUserCarrier] ([CarrierID])
GO
ALTER TABLE [dbo].[InvoiceByHousehold] CHECK CONSTRAINT [FK_InvoiceByHousehold_InvoiceUserCarrier]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'發票歸戶關聯檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'InvoiceByHousehold'
GO
