USE [EIVO03]
GO
/****** Object:  Table [dbo].[CustomerDefined]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDefined](
	[DocID] [int] NOT NULL,
	[IsolationFolder] [nvarchar](64) NULL,
	[DataContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_CustomerDefined] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerDefined]  WITH CHECK ADD  CONSTRAINT [FK_CustomerDefined_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerDefined] CHECK CONSTRAINT [FK_CustomerDefined_CDS_Document]
GO
