USE [EIVO03]
GO
/****** Object:  Table [dbo].[UniformInvoiceWinningNumber]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniformInvoiceWinningNumber](
	[WinningID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Rank] [int] NOT NULL,
	[WinningNO] [nvarchar](16) NOT NULL,
	[PrizeType] [nvarchar](16) NULL,
	[Bonus] [int] NULL,
 CONSTRAINT [PK_UniformInvoiceWinningNumber] PRIMARY KEY CLUSTERED 
(
	[WinningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UniformInvoiceWinningNumber]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_UniformInvoiceWinningNumber] ON [dbo].[UniformInvoiceWinningNumber]
(
	[Year] ASC,
	[Period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
