USE [EIVO03]
GO
/****** Object:  Table [dbo].[UnassignedInvoiceNo]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnassignedInvoiceNo](
	[UAID] [int] IDENTITY(1,1) NOT NULL,
	[TrackID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[InvoiceBeginNo] [int] NOT NULL,
	[InvoiceEndNo] [int] NOT NULL,
 CONSTRAINT [PK_UnusedInvoiceNo] PRIMARY KEY CLUSTERED 
(
	[UAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UnassignedInvoiceNo]  WITH CHECK ADD  CONSTRAINT [FK_UnusedInvoiceNo_InvoiceTrackCodeAssignment] FOREIGN KEY([TrackID], [SellerID])
REFERENCES [dbo].[InvoiceTrackCodeAssignment] ([TrackID], [SellerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnassignedInvoiceNo] CHECK CONSTRAINT [FK_UnusedInvoiceNo_InvoiceTrackCodeAssignment]
GO
