USE [EIVO03]
GO
/****** Object:  StoredProcedure [dbo].[UpdateGroupMemberUserRole]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateGroupMemberUserRole]
(
	@CompanyID	int,
	@OldRoleID	int,
	@NewRoleID	int
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE UserRole
	SET        RoleID = @NewRoleID
	FROM     UserRole INNER JOIN
				   OrganizationCategory ON UserRole.OrgaCateID = OrganizationCategory.OrgaCateID
	WHERE   (UserRole.RoleID = @OldRoleID) AND (OrganizationCategory.CompanyID = @CompanyID)
END
GO
