USE [EIVO03]
GO
/****** Object:  Table [dbo].[CustomSmtpHost]    Script Date: 2026/6/25 下午 02:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomSmtpHost](
	[HostID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[Host] [nvarchar](64) NOT NULL,
	[Port] [int] NULL,
	[EnableSsl] [bit] NULL,
	[UserName] [nvarchar](64) NULL,
	[Password] [nvarchar](64) NULL,
	[MailFrom] [nvarchar](64) NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CustomSmtpHost] PRIMARY KEY CLUSTERED 
(
	[HostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomSmtpHost]  WITH CHECK ADD  CONSTRAINT [FK_CustomSmtpHost_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomSmtpHost] CHECK CONSTRAINT [FK_CustomSmtpHost_Organization]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CustomSmtpHost', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
