USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessCompletionNotification]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessCompletionNotification](
	[TaskID] [int] NOT NULL,
 CONSTRAINT [PK_ProcessCompletionNotification] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [proc].[ProcessCompletionNotification]  WITH CHECK ADD  CONSTRAINT [FK_ProcessCompletionNotification_ProcessRequest] FOREIGN KEY([TaskID])
REFERENCES [proc].[ProcessRequest] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [proc].[ProcessCompletionNotification] CHECK CONSTRAINT [FK_ProcessCompletionNotification_ProcessRequest]
GO
