USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessRequestType]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessRequestType](
	[ProcessType] [int] NOT NULL,
	[ChannelName] [nvarchar](64) NULL,
	[ChannelInProgress] [nvarchar](64) NULL,
	[ChannelResponse] [nvarchar](64) NULL,
	[DescriptionID] [nvarchar](16) NULL,
 CONSTRAINT [PK_ProcessRequestType] PRIMARY KEY CLUSTERED 
(
	[ProcessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
