USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessRequestTypeLocale]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessRequestTypeLocale](
	[LocaleID] [nvarchar](8) NOT NULL,
	[ProcessType] [int] NOT NULL,
	[ChannelName] [nvarchar](64) NULL,
	[ChannelInProgress] [nvarchar](64) NULL,
	[ChannelResponse] [nvarchar](64) NULL,
 CONSTRAINT [PK_ProcessRequestTypeLocale] PRIMARY KEY CLUSTERED 
(
	[LocaleID] ASC,
	[ProcessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [proc].[ProcessRequestTypeLocale]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequestTypeLocale_ProcessRequestType] FOREIGN KEY([ProcessType])
REFERENCES [proc].[ProcessRequestType] ([ProcessType])
GO
ALTER TABLE [proc].[ProcessRequestTypeLocale] CHECK CONSTRAINT [FK_ProcessRequestTypeLocale_ProcessRequestType]
GO
