USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessExceptionNotification]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessExceptionNotification](
	[TaskID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[BookingTime] [datetime] NULL,
 CONSTRAINT [PK_ProcessExceptionNotification] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC,
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [proc].[ProcessExceptionNotification]  WITH CHECK ADD  CONSTRAINT [FK_ProcessExceptionNotification_Organization] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [proc].[ProcessExceptionNotification] CHECK CONSTRAINT [FK_ProcessExceptionNotification_Organization]
GO
ALTER TABLE [proc].[ProcessExceptionNotification]  WITH CHECK ADD  CONSTRAINT [FK_ProcessExceptionNotification_ProcessRequest] FOREIGN KEY([TaskID])
REFERENCES [proc].[ProcessRequest] ([TaskID])
GO
ALTER TABLE [proc].[ProcessExceptionNotification] CHECK CONSTRAINT [FK_ProcessExceptionNotification_ProcessRequest]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主鍵' , @level0type=N'SCHEMA',@level0name=N'proc', @level1type=N'TABLE',@level1name=N'ProcessExceptionNotification', @level2type=N'COLUMN',@level2name=N'CompanyID'
GO
