USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessRequest]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessRequest](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [int] NULL,
	[SubmitDate] [datetime] NOT NULL,
	[ProcessStart] [datetime] NULL,
	[ProcessComplete] [datetime] NULL,
	[RequestPath] [nvarchar](512) NULL,
	[ResponsePath] [nvarchar](512) NULL,
	[ProcessType] [int] NULL,
	[AgentID] [int] NULL,
	[LogID] [int] NULL,
	[ViewModel] [nvarchar](max) NULL,
	[TotalCount] [int] NULL,
	[ProgressCount] [int] NULL,
 CONSTRAINT [PK_ProcessRequest] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcessRequest]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_ProcessRequest] ON [proc].[ProcessRequest]
(
	[SubmitDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [proc].[ProcessRequest] ADD  CONSTRAINT [DF_ProcessRequest_SubmitDate]  DEFAULT (getdate()) FOR [SubmitDate]
GO
ALTER TABLE [proc].[ProcessRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequest_ExceptionLog] FOREIGN KEY([LogID])
REFERENCES [dbo].[ExceptionLog] ([LogID])
GO
ALTER TABLE [proc].[ProcessRequest] CHECK CONSTRAINT [FK_ProcessRequest_ExceptionLog]
GO
ALTER TABLE [proc].[ProcessRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequest_Organization] FOREIGN KEY([AgentID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [proc].[ProcessRequest] CHECK CONSTRAINT [FK_ProcessRequest_Organization]
GO
ALTER TABLE [proc].[ProcessRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequest_ProcessRequestType] FOREIGN KEY([ProcessType])
REFERENCES [proc].[ProcessRequestType] ([ProcessType])
GO
ALTER TABLE [proc].[ProcessRequest] CHECK CONSTRAINT [FK_ProcessRequest_ProcessRequestType]
GO
ALTER TABLE [proc].[ProcessRequest]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequest_UserProfile] FOREIGN KEY([Sender])
REFERENCES [dbo].[UserProfile] ([UID])
GO
ALTER TABLE [proc].[ProcessRequest] CHECK CONSTRAINT [FK_ProcessRequest_UserProfile]
GO
