USE [EIVO03]
GO
/****** Object:  Table [proc].[DataProcessLog]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[DataProcessLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[DocID] [int] NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[StepID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[ProcessType] [int] NULL,
	[NoticeID] [int] NULL,
 CONSTRAINT [PK_DataProcessLog] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [proc].[DataProcessLog]  WITH CHECK ADD  CONSTRAINT [FK_DataProcessLog_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [proc].[DataProcessLog] CHECK CONSTRAINT [FK_DataProcessLog_CDS_Document]
GO
ALTER TABLE [proc].[DataProcessLog]  WITH CHECK ADD  CONSTRAINT [FK_DataProcessLog_DataNotice] FOREIGN KEY([NoticeID])
REFERENCES [proc].[DataNotice] ([NoticeID])
GO
ALTER TABLE [proc].[DataProcessLog] CHECK CONSTRAINT [FK_DataProcessLog_DataNotice]
GO
