USE [EIVO03]
GO
/****** Object:  Table [proc].[DataProcessQueue]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[DataProcessQueue](
	[DocID] [int] NOT NULL,
	[StepID] [int] NOT NULL,
	[ProcessType] [int] NOT NULL,
	[DispatchDate] [datetime] NOT NULL,
	[BookingTime] [datetime] NULL,
	[NoticeID] [int] NULL,
 CONSTRAINT [PK_DataProcessQueue] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC,
	[StepID] ASC,
	[ProcessType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [proc].[DataProcessQueue]  WITH CHECK ADD  CONSTRAINT [FK_DataProcessQueue_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
ON DELETE CASCADE
GO
ALTER TABLE [proc].[DataProcessQueue] CHECK CONSTRAINT [FK_DataProcessQueue_CDS_Document]
GO
ALTER TABLE [proc].[DataProcessQueue]  WITH CHECK ADD  CONSTRAINT [FK_DataProcessQueue_DataNotice] FOREIGN KEY([NoticeID])
REFERENCES [proc].[DataNotice] ([NoticeID])
GO
ALTER TABLE [proc].[DataProcessQueue] CHECK CONSTRAINT [FK_DataProcessQueue_DataNotice]
GO
