USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessRequestDocument]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessRequestDocument](
	[TaskID] [int] NULL,
	[DocID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProcessRequestDocument] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [proc].[ProcessRequestDocument] ADD  CONSTRAINT [DF_ProcessRequestDocument_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [proc].[ProcessRequestDocument]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequestDocument_CDS_Document] FOREIGN KEY([DocID])
REFERENCES [dbo].[CDS_Document] ([DocID])
GO
ALTER TABLE [proc].[ProcessRequestDocument] CHECK CONSTRAINT [FK_ProcessRequestDocument_CDS_Document]
GO
ALTER TABLE [proc].[ProcessRequestDocument]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequestDocument_ProcessRequest] FOREIGN KEY([TaskID])
REFERENCES [proc].[ProcessRequest] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [proc].[ProcessRequestDocument] CHECK CONSTRAINT [FK_ProcessRequestDocument_ProcessRequest]
GO
