USE [EIVO03]
GO
/****** Object:  Table [proc].[ProcessRequestQueue]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [proc].[ProcessRequestQueue](
	[TaskID] [int] NOT NULL,
	[ActorID] [int] NULL,
	[BookingTime] [datetime] NULL,
 CONSTRAINT [PK_ProcessRequestQueue] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [proc].[ProcessRequestQueue]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequestQueue_ProcessorUnit] FOREIGN KEY([ActorID])
REFERENCES [proc].[ProcessorUnit] ([ProcessorID])
ON DELETE SET NULL
GO
ALTER TABLE [proc].[ProcessRequestQueue] CHECK CONSTRAINT [FK_ProcessRequestQueue_ProcessorUnit]
GO
ALTER TABLE [proc].[ProcessRequestQueue]  WITH CHECK ADD  CONSTRAINT [FK_ProcessRequestQueue_ProcessRequest] FOREIGN KEY([TaskID])
REFERENCES [proc].[ProcessRequest] ([TaskID])
ON DELETE CASCADE
GO
ALTER TABLE [proc].[ProcessRequestQueue] CHECK CONSTRAINT [FK_ProcessRequestQueue_ProcessRequest]
GO
