USE [EIVO03]
GO
/****** Object:  StoredProcedure [proc].[ApplyProcessRequest]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [proc].[ApplyProcessRequest] 
	@ActorID int , 
	@ProcessType int,
	@TaskID	int = null output 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT          @TaskID = MIN([proc].ProcessRequestQueue.TaskID)
	FROM              [proc].ProcessRequestQueue INNER JOIN
								[proc].ProcessRequest ON [proc].ProcessRequestQueue.TaskID = [proc].ProcessRequest.TaskID
	WHERE          ([proc].ProcessRequestQueue.ActorID = @ActorID) AND ([proc].ProcessRequest.ProcessType = @ProcessType)
					AND ([proc].ProcessRequestQueue.BookingTime IS NULL)

	if @TaskID is null
		begin
			begin transaction

			SELECT	@TaskID = MIN([proc].ProcessRequestQueue.TaskID)
			FROM	[proc].ProcessRequestQueue 
				INNER JOIN
					[proc].ProcessRequest ON [proc].ProcessRequestQueue.TaskID = [proc].ProcessRequest.TaskID
			WHERE   
				([proc].ProcessRequest.ProcessType = @ProcessType)
				AND ([proc].ProcessRequestQueue.ActorID IS NULL)

			update [proc].ProcessRequestQueue set ActorID=@ActorID,BookingTime=GETDATE()
			Where TaskID=@TaskID

			commit
		end
END
GO
