USE [EIVO03]
GO
/****** Object:  Table [scm].[ProductCatalog]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scm].[ProductCatalog](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](64) NULL,
	[ProductName] [nvarchar](128) NOT NULL,
	[SalePrice] [decimal](18, 5) NOT NULL,
	[PurchasePrice] [decimal](18, 5) NULL,
	[Spec] [nvarchar](128) NULL,
	[Remark] [nvarchar](128) NULL,
	[PieceUnit] [nvarchar](16) NULL,
 CONSTRAINT [PK__ProductCatalog] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductCatalog_Barcode]    Script Date: 2026/6/25 下午 02:06:50 ******/
CREATE NONCLUSTERED INDEX [IX_ProductCatalog_Barcode] ON [scm].[ProductCatalog]
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
