USE [EIVO03]
GO
/****** Object:  Table [scm].[ProductSupplier]    Script Date: 2026/6/25 下午 02:06:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [scm].[ProductSupplier](
	[SupplierID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_SUPPLIER_PRODUCTS_NUMBER] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [scm].[ProductSupplier]  WITH CHECK ADD  CONSTRAINT [FK_ProductSupplier_Organization] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Organization] ([CompanyID])
GO
ALTER TABLE [scm].[ProductSupplier] CHECK CONSTRAINT [FK_ProductSupplier_Organization]
GO
ALTER TABLE [scm].[ProductSupplier]  WITH CHECK ADD  CONSTRAINT [FK_ProductSupplier_ProductCatalog] FOREIGN KEY([ProductID])
REFERENCES [scm].[ProductCatalog] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [scm].[ProductSupplier] CHECK CONSTRAINT [FK_ProductSupplier_ProductCatalog]
GO
