@using System.IO
@using System.Linq.Expressions


@using WebHome.Helper
@using ModelCore.Locale
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Security.MembershipManagement

@using ModelCore.Helper
@using WebHome.Controllers
@{
    UserProfile _profile = Context.GetUser();
}

<span class="fw-bold">
    匯入匯率資料：
</span>
<button type="button" id="btnDataSample" class="px-3 btn btn-sm eivo__btn--default">
    <i class="fas fa-download"></i>
    下載範本
</button>
<button type="button" id="btnUploadData" class="px-3 btn btn-sm eivo__btn--check">
    <i class="fas fa-paper-plane"></i>
    立即傳送
</button>
<script>
    $(function () {

        $('#btnDataSample').on('click', function (event) {
            $('').launchDownload('@Html.Raw(Url.Action("GetExchangeRateSample", "PeriodicalExchangeRate"))', {});
        });

        var $btn = $('#btnUploadData');
        var $file = $('<input name="excelFile" type="file" style="display: none;" />');
        $btn.before($file);

        $btn.click(function () {
            $file.val('');
            $file.click();
        });

        $file.on('change', function (event) {
            clearErrors();
            var $formData = $('form').find('input,select,textArea').serializeObject();
            uploadFile($file, $formData, '@(Url.Action("UploadExchangeRate", "PeriodicalExchangeRate"))',
                function (data) {
                    $btn.before($file);
                    if ($.isPlainObject(data)) {
                        if (data.result) {

                        } else {
                            reportError(data);
                        }
                    } else {
                        $(data).appendTo($('body'));
                    }
                },
                function () {
                    $btn.before($file);
                });
        });
    });
</script>