@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc



@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{

    ModelSource<InvoiceItem> models;
    UserProfile _profile;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _profile = Context.GetUser();
    IEnumerable<String> _model = this.Model as IEnumerable<String>;
    InvoiceNumberApplyQueryViewModel _viewModel = ViewBag.ViewModel as InvoiceNumberApplyQueryViewModel;
}
@if (!models.InquiryHasError)
{
    <h2 class="mb-0 fs-5 fw-bold text-primary border-start border-5 border-primary ps-2">
        @{
            await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "查詢結果");
        }
    </h2>

    <div id="dataList" class="my-3 card shadow-sm border-2 rounded-3 query_result">
        <div id="tableList" class="card-body">
            @if (_model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-striped itemList eivo__table">
                        @{
                            await Html.RenderPartialAsync("~/Views/InvoiceNumberApply/QueryList2024.cshtml", _model);
                        }
                    </table>
                </div>
            }
            else
            {
                <div class="py-3 fs-6 text-center text-primary">
                    尚無資料！
                </div>
            }
        </div>
    </div>
}
