@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    ModelStateDictionary _modelState;
    ModelSource<InvoiceItem> models;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
}
<div id="tblAction" class="my-3">
    <button type="button" name="btnPrint" class="px-3 btn btn-sm eivo__btn--default"
        onclick="$inquiryAgent.downloadQuery();">
        <i class="fas fa-download"></i>
        Excel下載
    </button>
</div>
