@using System.IO
@using System.Linq.Expressions


@using ModelCore.Helper
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Locale
@using ModelCore.Security.MembershipManagement
@using ModelCore.Models.ViewModel
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor

@using Newtonsoft.Json
@{
    ModelSource<InvoiceItem> models;
    ModelStateDictionary _modelState;

    models = (ModelSource<InvoiceItem>)ViewContext.HttpContext.Items["Models"]!;
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
}

<!-- 資料管理 -->
<!-- 交易畫面標題 -->
<div class="py-2 eivo__title d-flex align-items-center justify-content-between">
    @{
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "資料管理");
    }
</div>

<div id="queryArea" class="mb-4 card shadow-sm border-2 rounded-3">
    <div class="card-body">
        <div class="px-2 row row-cols-1">
            <div class="col py-2">
                <div class="row">
                    <label for="Currency" class="col col-md-2 col-lg-1 col-form-label fw-bold text-nowrap">
                        買受人
                    </label>
                    <div class="col">
                        <div class="row">
                            <div class="col col-md-2">
                                <button type="button" id="btnBuyerSample" name="btnBuyerSample"
                                    class="px-3 btn btn-sm eivo__btn--default">
                                    <i class="fas fa-download"></i>
                                    下載範本
                                </button>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <input type="file" name="InvoiceBuyer" id="InvoiceBuyer"
                                        class="form-control form-control-sm">
                                    <button id="btnUpdateBuyer" name="btnUpdateBuyer"
                                        class="px-3 btn btn-sm eivo__btn--check text-nowrap" type="button">
                                        傳送更新
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-2">
                <div class="row">
                    <label for="Currency" class="col col-md-2 col-lg-1 col-form-label fw-bold text-nowrap">
                        發票字軌
                    </label>
                    <div class="col">
                        <div class="row">
                            <div class="col col-md-2">
                                <button type="button" id="btnTrackCodeSample" name="btnTrackCodeSample"
                                    class="px-3 btn btn-sm eivo__btn--default text-nowrap">
                                    <i class="fas fa-download"></i>
                                    下載範本
                                </button>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <input type="file" name="TrackCode" id="TrackCode"
                                        class="form-control form-control-sm">
                                    <button id="btnUpdateTrackCode" name="btnUpdateTrackCode"
                                        class="px-3 btn btn-sm eivo__btn--check text-nowrap" type="button">
                                        傳送更新
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-2">
                <div class="row">
                    <label for="Currency" class="col col-md-2 col-lg-1 col-form-label fw-bold text-nowrap">
                        發票資料
                    </label>
                    <div class="col">
                        <button id="btnImportInvoice" name="btnImportInvoice" class="px-3 btn btn-sm eivo__btn--check"
                            type="button">
                            <i class="fas fa-paper-plane"></i>
                            立即傳送
                        </button>
                        <script>
                            $(function () {
                                var $btn = $('#btnImportInvoice');
                                var $file = $('<input name="theFile" type="file" style="display: none;" />');
                                $btn.before($file);

                                $btn.click(function () {
                                    $file.val('');
                                    $file.click();
                                });

                                $file.on('change', function (event) {
                                    clearErrors();
                                    $('.tblAction').remove();
                                    uploadFile($file, {}, '@(Url.Action("ImportInvoice", "DataExchange"))',
                                        function (data) {
                                            $btn.before($file);
                                            $('#queryArea').after($(data));
                                        },
                                        function () {
                                            $btn.before($file);
                                        });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        changeMenu('system_03', 'DataExchange');
    });

    $(function () {
        var $formDownload;
        var $data;
        var $oriAction;

        function prepareTarget() {
            if ($formDownload == undefined) {
                $data = $('<input name="data" type="hidden"/>');
                $formDownload = $('form').append($data);
                $oriAction = $formDownload.prop('action');
                $formDownload.prop('enctype', 'multipart/form-data');
            }
        }

        $('#btnBuyerSample').on('click', function (evt) {
            prepareTarget();
            $data.val('InvoiceBuyer');
            $formDownload.prop('action', '../Helper/GetSample.ashx');
            $formDownload.submit();
            $formDownload.prop('action', $oriAction);
        });

        $('#btnUpdateBuyer').on('click', function (evt) {
            prepareTarget();
            var $file = $('input:file[name="InvoiceBuyer"]');
            if ($file.length > 0 && $file.val() != '') {
                $formDownload.prop('action', '@(Url.Action("UpdateBuyer"))');
                $formDownload.submit();
                $formDownload.prop('action', $oriAction);
            } else {
                alert('請選擇檔案!!');
            }
        });

        $('#btnTrackCodeSample').on('click', function (evt) {
            prepareTarget();
            $data.val('TrackCode');
            $formDownload.prop('action', '../Helper/GetSample.ashx');
            $formDownload.submit();
            $formDownload.prop('action', $oriAction);
        });

        $('#btnUpdateTrackCode').on('click', function (evt) {
            prepareTarget();
            var $file = $('input:file[name="TrackCode"]');
            if ($file.length > 0 && $file.val() != '') {
                $formDownload.prop('action', '@(Url.Action("UpdateTrackCode"))');
                $formDownload.submit();
                $formDownload.prop('action', $oriAction);
            } else {
                alert('請選擇檔案!!');
            }
        });
    });
</script>
