@using System.IO
@using System.Linq.Expressions

@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.ViewModel
@using ModelCore.Models.ViewModel
@using WebHome.Controllers
@using ModelCore.DataEntity
@using ModelCore.Helper
@using ModelCore.Locale
@using CommonLib.Core.Utility
@using CommonLib.Utility
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.Razor


@{
    InvoiceItem _model;
    _model = (InvoiceItem)this.Model;
}
<div class="dropdown">
    <button class="px-3 btn btn-sm eivo__btn--default dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        功能
    </button>
    <ul class="dropdown-menu shadow dropdown-menu-end" aria-labelledby="dropdownMenuButton1" style="">
        <li>
            <a class="dropdown-item" href="#" onclick="uiInvoiceQuery.editBuyer('@(_model.InvoiceID.EncryptKey())');">
                <i class="fas fa-caret-right"></i>
                修改買受人
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#"
                onclick="uiInvoiceQuery.arrangeAttachment('@(_model.InvoiceID.EncryptKey())');">
                <i class="fas fa-caret-right"></i>
                附件檔管理
            </a>
        </li>
    </ul>
</div>
